

<div class="authentication">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-sm-12">
                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                    <div>
                        <label>Email</label>
                        <input type="email" formControlName="email" />
                    </div>
                    <div>
                        <label>Password</label>
                        <input type="password" formControlName="password" />
                    </div>
                    <button type="submit">Login</button>
                </form>



                <div class="copyright text-center">
                    &copy;
                    <script>document.write(new Date().getFullYear())</script>,
                    <span><a href="">BestShifts</a></span>
                </div>
            </div>
            <div class="col-lg-8 col-sm-12">
                <div class="card">
                    <img src="/assets/images/signin.svg" alt="Sign In"/>
                </div>
            </div>
        </div>
    </div>
</div>
