################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/RepMed
/RepMed.Core/.vs/RepMed.Core/v17
/RepMed.Core/bin
/RepMed.Core/obj
/RepMed.Dtos/bin
/RepMed.Dtos/obj
/RepMed.Localize/bin
/RepMed.Localize/obj
/RepMed.Packages/bin
/RepMed.Packages/obj
/RepMed.Services/bin
/RepMed.Services/obj
/RepMed.Web/bin
/RepMed.Web/ClientApp/e2e
/RepMed.Web/obj
/RepMed.Web/ClientApp/node_modules
/RepMed.Data/bin/Debug/net8.0/RepMed.Data.dll
/RepMed.Data/bin/Debug/net8.0/RepMed.Data.pdb
/RepMed.Data/obj/Debug/net8.0/ref/RepMed.Data.dll
/RepMed.Data/obj/Debug/net8.0/refint/RepMed.Data.dll
/RepMed.Data/obj/Debug/net8.0/RepMed.Data.AssemblyInfo.cs
/RepMed.Data/obj/Debug/net8.0/RepMed.Data.AssemblyInfoInputs.cache
/RepMed.Data/obj/Debug/net8.0/RepMed.Data.csproj.FileListAbsolute.txt
/RepMed.Data/obj/Debug/net8.0/RepMed.Data.dll
/RepMed.Data/obj/Debug/net8.0/RepMed.Data.pdb
/RepMed.Data/obj/Debug/net8.0/RepMed.Data.sourcelink.json
/.vs/ProjectEvaluation/repmed.metadata.v9.bin
/.vs/ProjectEvaluation/repmed.projects.v9.bin
/.vs/ProjectEvaluation/repmed.strings.v9.bin
/RepMed.Web/ClientApp/.angular/cache/17.3.13
/RepMed.Web/ClientApp/.angular/cache/19.2.4
/RepMed.Data/bin/Debug/net8.0/RepMed.Data.runtimeconfig.json
/RepMed.Data/bin/Debug/net8.0/RepMed.Data.deps.json
/RepMed.Web/ClientApp/.angular/cache/19.2.6
/RepMed.Data/obj/project.assets.json
/RepMed.Data/obj/project.nuget.cache
/RepMed.Data/obj/RepMed.Data.csproj.nuget.dgspec.json
/RepMed.Data/obj/project.assets.json
/RepMed.Data/obj/project.nuget.cache
/RepMed.Data/obj/Debug/net8.0/91b5a709-332b-420b-953c-1728adfdff9f_RepMed.Data.pdb
/RepMed.Data/obj/Debug/net8.0/RepMed.Data.assets.cache
/RepMed.Data/bin/Debug/net8.0/RepMed.Data.deps.json
/RepMed.Data/obj/Debug/net8.0/RepMed.Data.assets.cache
/RepMed.Data/obj/Debug/net8.0/RepMed.Data.csproj.AssemblyReference.cache
/RepMed.Data/obj/Debug/net8.0/RepMed.Data.csproj.CoreCompileInputs.cache
/RepMed.Data/obj/project.assets.json
/RepMed.Data/obj/project.nuget.cache
/RepMed.Data/obj/RepMed.Data.csproj.nuget.dgspec.json
/.vs/ProjectEvaluation
/RepMed.Data/obj/RepMed.Data.csproj.nuget.g.props
/RepMed.Data/obj/Debug/net8.0/RepMed.Data.GeneratedMSBuildEditorConfig.editorconfig
/RepMed.Data/obj/Debug/net8.0/RepMed.Data.genruntimeconfig.cache
