-- MySQL dump 10.13  Distrib 8.0.37, for Win64 (x86_64)
--
-- Host: localhost    Database: repmed
-- ------------------------------------------------------
-- Server version	8.0.37

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Current Database: `repmed`
--

CREATE DATABASE /*!32312 IF NOT EXISTS*/ `repmed` /*!40100 DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci */ /*!80016 DEFAULT ENCRYPTION='N' */;

USE `repmed`;

--
-- Table structure for table `category`
--

DROP TABLE IF EXISTS `category`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `category` (
  `Id` bigint NOT NULL AUTO_INCREMENT,
  `CategoryName` varchar(200) DEFAULT NULL,
  `ParentCategoryId` bigint DEFAULT NULL,
  `CreatedDate` datetime DEFAULT CURRENT_TIMESTAMP,
  `UpdatedDate` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `IsActive` bit(1) DEFAULT b'1',
  `url` varchar(1000) DEFAULT NULL,
  `TotalPages` bigint DEFAULT NULL,
  `CreatedBy` bigint DEFAULT NULL,
  `UpdatedBy` bigint DEFAULT NULL,
  `IsDeleted` tinyint(1) DEFAULT '0',
  PRIMARY KEY (`Id`),
  KEY `fk_category_createdby` (`CreatedBy`),
  KEY `fk_category_updatedby` (`UpdatedBy`),
  CONSTRAINT `fk_category_createdby` FOREIGN KEY (`CreatedBy`) REFERENCES `users` (`Id`) ON DELETE SET NULL,
  CONSTRAINT `fk_category_updatedby` FOREIGN KEY (`UpdatedBy`) REFERENCES `users` (`Id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=520 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `category`
--

LOCK TABLES `category` WRITE;
/*!40000 ALTER TABLE `category` DISABLE KEYS */;
/*!40000 ALTER TABLE `category` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cities`
--

DROP TABLE IF EXISTS `cities`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cities` (
  `Id` bigint NOT NULL AUTO_INCREMENT,
  `Name` varchar(100) NOT NULL,
  `StateId` bigint NOT NULL,
  PRIMARY KEY (`Id`),
  KEY `StateId` (`StateId`),
  CONSTRAINT `cities_ibfk_1` FOREIGN KEY (`StateId`) REFERENCES `states` (`Id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=102 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cities`
--

LOCK TABLES `cities` WRITE;
/*!40000 ALTER TABLE `cities` DISABLE KEYS */;
INSERT INTO `cities` VALUES (88,'Mumbai',1),(89,'Pune',1),(90,'Bangalore',2),(91,'Mysore',2),(92,'Los Angeles',3),(93,'San Francisco',3),(94,'Houston',4),(95,'Dallas',4),(96,'Toronto',5),(97,'Montreal',6),(98,'Sydney',7),(99,'Melbourne',8),(100,'London',9),(101,'Edinburgh',10);
/*!40000 ALTER TABLE `cities` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `countries`
--

DROP TABLE IF EXISTS `countries`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `countries` (
  `Id` bigint NOT NULL AUTO_INCREMENT,
  `Name` varchar(100) NOT NULL,
  PRIMARY KEY (`Id`),
  UNIQUE KEY `Name` (`Name`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `countries`
--

LOCK TABLES `countries` WRITE;
/*!40000 ALTER TABLE `countries` DISABLE KEYS */;
INSERT INTO `countries` VALUES (5,'Australia'),(4,'Canada'),(1,'India'),(3,'United Kingdom'),(2,'United States');
/*!40000 ALTER TABLE `countries` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `deliverydetails`
--

DROP TABLE IF EXISTS `deliverydetails`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `deliverydetails` (
  `Id` bigint NOT NULL AUTO_INCREMENT,
  `OrderId` bigint NOT NULL,
  `DeliveryPersonId` bigint NOT NULL,
  `DeliveryStatus` enum('Pending','Out for Delivery','Delivered') DEFAULT 'Pending',
  `EstimatedDelivery` datetime DEFAULT NULL,
  `ActualDeliveryTime` datetime DEFAULT NULL,
  `DeliveredAt` datetime DEFAULT NULL,
  `IsCOD` tinyint(1) DEFAULT '0',
  `CODCollected` tinyint(1) DEFAULT '0',
  `CreatedDate` datetime DEFAULT CURRENT_TIMESTAMP,
  `UpdatedDate` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`Id`),
  KEY `OrderId` (`OrderId`),
  KEY `DeliveryPersonId` (`DeliveryPersonId`),
  CONSTRAINT `deliverydetails_ibfk_1` FOREIGN KEY (`OrderId`) REFERENCES `orders` (`Id`) ON DELETE CASCADE,
  CONSTRAINT `deliverydetails_ibfk_3` FOREIGN KEY (`DeliveryPersonId`) REFERENCES `deliverypersons` (`Id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `deliverydetails`
--

LOCK TABLES `deliverydetails` WRITE;
/*!40000 ALTER TABLE `deliverydetails` DISABLE KEYS */;
/*!40000 ALTER TABLE `deliverydetails` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `deliverypersons`
--

DROP TABLE IF EXISTS `deliverypersons`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `deliverypersons` (
  `Id` bigint NOT NULL AUTO_INCREMENT,
  `UserId` bigint NOT NULL,
  `AssignedPharmacyId` bigint NOT NULL,
  `GovernmentIdType` enum('Aadhar','DriverΓÇÖs License','Passport') NOT NULL,
  `GovernmentIdNumber` varchar(50) NOT NULL,
  `VehicleDetails` varchar(255) DEFAULT NULL,
  `IsActive` tinyint(1) DEFAULT '1',
  `BankAccountNumber` varchar(50) DEFAULT NULL,
  `AccountHolderName` varchar(100) DEFAULT NULL,
  `BankName` varchar(100) DEFAULT NULL,
  `BranchName` varchar(100) DEFAULT NULL,
  `IFSCCode` varchar(20) DEFAULT NULL,
  `UPI_ID` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`Id`),
  UNIQUE KEY `GovernmentIdNumber` (`GovernmentIdNumber`),
  KEY `UserId` (`UserId`),
  KEY `AssignedPharmacyId` (`AssignedPharmacyId`),
  CONSTRAINT `deliverypersons_ibfk_1` FOREIGN KEY (`UserId`) REFERENCES `users` (`Id`) ON DELETE CASCADE,
  CONSTRAINT `deliverypersons_ibfk_2` FOREIGN KEY (`AssignedPharmacyId`) REFERENCES `pharmacies` (`Id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `deliverypersons`
--

LOCK TABLES `deliverypersons` WRITE;
/*!40000 ALTER TABLE `deliverypersons` DISABLE KEYS */;
/*!40000 ALTER TABLE `deliverypersons` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `orderdetails`
--

DROP TABLE IF EXISTS `orderdetails`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `orderdetails` (
  `Id` bigint NOT NULL AUTO_INCREMENT,
  `OrderId` bigint NOT NULL,
  `PharmacyInventoryId` bigint NOT NULL,
  `Quantity` bigint NOT NULL,
  `Price` decimal(10,2) NOT NULL,
  `Discount` decimal(10,2) DEFAULT '0.00',
  `TotalPrice` decimal(10,2) GENERATED ALWAYS AS ((`Quantity` * `Price`)) STORED,
  PRIMARY KEY (`Id`),
  KEY `OrderId` (`OrderId`),
  KEY `PharmacyInventoryId` (`PharmacyInventoryId`),
  CONSTRAINT `orderdetails_ibfk_1` FOREIGN KEY (`OrderId`) REFERENCES `orders` (`Id`) ON DELETE CASCADE,
  CONSTRAINT `orderdetails_ibfk_2` FOREIGN KEY (`PharmacyInventoryId`) REFERENCES `pharmacyinventory` (`Id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `orderdetails`
--

LOCK TABLES `orderdetails` WRITE;
/*!40000 ALTER TABLE `orderdetails` DISABLE KEYS */;
/*!40000 ALTER TABLE `orderdetails` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `orders`
--

DROP TABLE IF EXISTS `orders`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `orders` (
  `Id` bigint NOT NULL AUTO_INCREMENT,
  `CustomerId` bigint NOT NULL,
  `PharmacyId` bigint NOT NULL,
  `TotalAmount` decimal(10,2) NOT NULL,
  `OrderStatus` enum('Pending','Confirmed','Shipped','Delivered','Cancelled','Returned') DEFAULT 'Pending',
  `IsDiffAddress` tinyint(1) DEFAULT '0',
  `Address1` text,
  `Address2` text,
  `Pincode` varchar(10) DEFAULT NULL,
  `Latitude` decimal(9,6) DEFAULT NULL,
  `Longitude` decimal(9,6) DEFAULT NULL,
  `CityId` bigint DEFAULT NULL,
  `StateId` bigint DEFAULT NULL,
  `CountryId` bigint DEFAULT NULL,
  `CreatedDate` datetime DEFAULT CURRENT_TIMESTAMP,
  `UpdatedDate` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`Id`),
  KEY `CustomerId` (`CustomerId`),
  KEY `PharmacyId` (`PharmacyId`),
  KEY `CityId` (`CityId`),
  KEY `StateId` (`StateId`),
  KEY `CountryId` (`CountryId`),
  CONSTRAINT `orders_ibfk_1` FOREIGN KEY (`CustomerId`) REFERENCES `users` (`Id`) ON DELETE CASCADE,
  CONSTRAINT `orders_ibfk_2` FOREIGN KEY (`PharmacyId`) REFERENCES `pharmacies` (`Id`) ON DELETE CASCADE,
  CONSTRAINT `orders_ibfk_3` FOREIGN KEY (`CityId`) REFERENCES `cities` (`Id`) ON DELETE SET NULL,
  CONSTRAINT `orders_ibfk_4` FOREIGN KEY (`StateId`) REFERENCES `states` (`Id`) ON DELETE SET NULL,
  CONSTRAINT `orders_ibfk_5` FOREIGN KEY (`CountryId`) REFERENCES `countries` (`Id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `orders`
--

LOCK TABLES `orders` WRITE;
/*!40000 ALTER TABLE `orders` DISABLE KEYS */;
/*!40000 ALTER TABLE `orders` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `payments`
--

DROP TABLE IF EXISTS `payments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `payments` (
  `Id` bigint NOT NULL AUTO_INCREMENT,
  `OrderId` bigint NOT NULL,
  `CustomerId` bigint NOT NULL,
  `PaymentMethod` enum('Credit Card','Debit Card','UPI','Net Banking','Cash on Delivery') NOT NULL,
  `PaymentStatus` enum('Pending','Completed','Failed') DEFAULT 'Pending',
  `AmountPaid` decimal(10,2) NOT NULL,
  `TransactionId` varchar(255) DEFAULT NULL,
  `FailedReason` varchar(500) DEFAULT NULL,
  `PaymentDate` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`Id`),
  UNIQUE KEY `TransactionId` (`TransactionId`),
  KEY `OrderId` (`OrderId`),
  KEY `CustomerId` (`CustomerId`),
  CONSTRAINT `payments_ibfk_1` FOREIGN KEY (`OrderId`) REFERENCES `orders` (`Id`) ON DELETE CASCADE,
  CONSTRAINT `payments_ibfk_2` FOREIGN KEY (`CustomerId`) REFERENCES `users` (`Id`) ON DELETE CASCADE,
  CONSTRAINT `payments_chk_1` CHECK ((`AmountPaid` >= 0))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `payments`
--

LOCK TABLES `payments` WRITE;
/*!40000 ALTER TABLE `payments` DISABLE KEYS */;
/*!40000 ALTER TABLE `payments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `persons`
--

DROP TABLE IF EXISTS `persons`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `persons` (
  `Id` bigint NOT NULL AUTO_INCREMENT,
  `FirstName` varchar(100) DEFAULT NULL,
  `LastName` varchar(100) DEFAULT NULL,
  `Email` varchar(255) NOT NULL,
  `Mobile` varchar(20) DEFAULT NULL,
  `MobileVerified` tinyint(1) DEFAULT '0',
  `EmailVerified` tinyint(1) DEFAULT '0',
  `DateOfBirth` date DEFAULT NULL,
  `Gender` enum('Male','Female','Other') DEFAULT NULL,
  `BloodGroup` varchar(10) DEFAULT NULL,
  `Picture` varchar(255) DEFAULT NULL,
  `Signature` varchar(255) DEFAULT NULL,
  `MotherName` varchar(100) DEFAULT NULL,
  `Qualification` varchar(255) DEFAULT NULL,
  `CreatedAt` datetime DEFAULT CURRENT_TIMESTAMP,
  `UpdatedAt` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`Id`),
  UNIQUE KEY `Email` (`Email`),
  UNIQUE KEY `Mobile` (`Mobile`)
) ENGINE=InnoDB AUTO_INCREMENT=44 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `persons`
--

LOCK TABLES `persons` WRITE;
/*!40000 ALTER TABLE `persons` DISABLE KEYS */;
/*!40000 ALTER TABLE `persons` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pharmacies`
--

DROP TABLE IF EXISTS `pharmacies`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pharmacies` (
  `Id` bigint NOT NULL AUTO_INCREMENT,
  `UserId` bigint NOT NULL,
  `StoreName` varchar(255) NOT NULL,
  `BusinessName` varchar(255) DEFAULT NULL,
  `LicenseNumber` varchar(50) NOT NULL,
  `LicenseExpiry` date DEFAULT NULL,
  `GSTNumber` varchar(50) DEFAULT NULL,
  `OwnerName` varchar(100) DEFAULT NULL,
  `RegisteredMobile` varchar(20) DEFAULT NULL,
  `OfficialEmail` varchar(255) DEFAULT NULL,
  `StoreMobile1` varchar(20) DEFAULT NULL,
  `StoreEmail1` varchar(255) DEFAULT NULL,
  `StoreEmail2` varchar(255) DEFAULT NULL,
  `MobileVerified` tinyint(1) DEFAULT '0',
  `EmailVerified` tinyint(1) DEFAULT '0',
  `Address1` text,
  `Address2` text,
  `CityId` bigint DEFAULT NULL,
  `StateId` bigint DEFAULT NULL,
  `CountryId` bigint DEFAULT NULL,
  `OTPVerified` tinyint(1) DEFAULT '0',
  `Status` enum('Active','Inactive','Suspended','Pending','Rejected') DEFAULT 'Pending',
  `CreatedAt` datetime DEFAULT CURRENT_TIMESTAMP,
  `Latitude` decimal(10,7) DEFAULT NULL,
  `Longitude` decimal(10,7) DEFAULT NULL,
  PRIMARY KEY (`Id`),
  UNIQUE KEY `LicenseNumber` (`LicenseNumber`),
  UNIQUE KEY `GSTNumber` (`GSTNumber`),
  KEY `UserId` (`UserId`),
  KEY `CityId` (`CityId`),
  KEY `StateId` (`StateId`),
  KEY `CountryId` (`CountryId`),
  CONSTRAINT `pharmacies_ibfk_1` FOREIGN KEY (`UserId`) REFERENCES `users` (`Id`) ON DELETE CASCADE,
  CONSTRAINT `pharmacies_ibfk_2` FOREIGN KEY (`CityId`) REFERENCES `cities` (`Id`) ON DELETE SET NULL,
  CONSTRAINT `pharmacies_ibfk_3` FOREIGN KEY (`StateId`) REFERENCES `states` (`Id`) ON DELETE SET NULL,
  CONSTRAINT `pharmacies_ibfk_4` FOREIGN KEY (`CountryId`) REFERENCES `countries` (`Id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=20 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pharmacies`
--

LOCK TABLES `pharmacies` WRITE;
/*!40000 ALTER TABLE `pharmacies` DISABLE KEYS */;
/*!40000 ALTER TABLE `pharmacies` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pharmacybankdetails`
--

DROP TABLE IF EXISTS `pharmacybankdetails`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pharmacybankdetails` (
  `Id` bigint NOT NULL AUTO_INCREMENT,
  `PharmacyId` bigint NOT NULL,
  `BankName` varchar(255) NOT NULL,
  `AccountHolderName` varchar(255) NOT NULL,
  `AccountNumber` varchar(50) NOT NULL,
  `IFSCCode` varchar(20) NOT NULL,
  `BranchName` varchar(255) DEFAULT NULL,
  `UpiId` varchar(100) DEFAULT NULL,
  `CreatedDate` datetime DEFAULT CURRENT_TIMESTAMP,
  `UpdatedDate` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`Id`),
  UNIQUE KEY `AccountNumber` (`AccountNumber`),
  KEY `PharmacyId` (`PharmacyId`),
  CONSTRAINT `pharmacybankdetails_ibfk_1` FOREIGN KEY (`PharmacyId`) REFERENCES `pharmacies` (`Id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=14 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pharmacybankdetails`
--

LOCK TABLES `pharmacybankdetails` WRITE;
/*!40000 ALTER TABLE `pharmacybankdetails` DISABLE KEYS */;
INSERT INTO `pharmacybankdetails` VALUES (11,13,'State Bank of India','HealthPlus Healthcare Pvt. Ltd.','1454556789012','SBIN0001234','MG Road Branch','healthplus@upi','2025-04-11 05:02:21','2025-04-11 05:02:21'),(12,16,'HDFC Bank','MedZone Health Pvt. Ltd.','456789012345','HDFC0001234','Green Park Branch','medzone@hdfcbank','2025-04-11 07:30:25','2025-04-11 07:30:25'),(13,19,'string','string','string','string','string','string','2025-04-17 08:56:05','2025-04-17 08:56:05');
/*!40000 ALTER TABLE `pharmacybankdetails` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pharmacyinventory`
--

DROP TABLE IF EXISTS `pharmacyinventory`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pharmacyinventory` (
  `Id` bigint NOT NULL AUTO_INCREMENT,
  `PharmacyId` bigint NOT NULL,
  `ProductId` bigint NOT NULL,
  `PharmacyPurchaseId` bigint DEFAULT NULL,
  `ExpiryDate` datetime NOT NULL,
  `CurrentStock` bigint NOT NULL DEFAULT '0',
  `MinimumStockThreshold` bigint NOT NULL DEFAULT '10',
  `SellingPrice` decimal(10,2) DEFAULT NULL,
  `Description` text,
  `LastRestocked` datetime DEFAULT CURRENT_TIMESTAMP,
  `LastUpdated` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`Id`),
  KEY `PharmacyId` (`PharmacyId`),
  KEY `ProductId` (`ProductId`),
  KEY `PharmacyPurchaseId` (`PharmacyPurchaseId`),
  CONSTRAINT `pharmacyinventory_ibfk_1` FOREIGN KEY (`PharmacyId`) REFERENCES `pharmacies` (`Id`) ON DELETE CASCADE,
  CONSTRAINT `pharmacyinventory_ibfk_2` FOREIGN KEY (`ProductId`) REFERENCES `product` (`Id`) ON DELETE CASCADE,
  CONSTRAINT `pharmacyinventory_ibfk_3` FOREIGN KEY (`PharmacyPurchaseId`) REFERENCES `pharmacypurchases` (`Id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pharmacyinventory`
--

LOCK TABLES `pharmacyinventory` WRITE;
/*!40000 ALTER TABLE `pharmacyinventory` DISABLE KEYS */;
/*!40000 ALTER TABLE `pharmacyinventory` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pharmacypurchases`
--

DROP TABLE IF EXISTS `pharmacypurchases`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pharmacypurchases` (
  `Id` bigint NOT NULL AUTO_INCREMENT,
  `PharmacyId` bigint NOT NULL,
  `ProductId` bigint NOT NULL,
  `SupplierName` varchar(255) NOT NULL,
  `Manufacturer` varchar(255) DEFAULT NULL,
  `QuantityPurchased` bigint NOT NULL,
  `ProductPrice` decimal(10,2) NOT NULL,
  `GSTIncluded` tinyint(1) DEFAULT '0',
  `GSTPercentage` decimal(5,2) DEFAULT '0.00',
  `GSTAmount` decimal(10,2) GENERATED ALWAYS AS ((case when (`GSTIncluded` = true) then 0 else ((`ProductPrice` * `GSTPercentage`) / 100) end)) STORED,
  `TotalCost` decimal(10,2) GENERATED ALWAYS AS ((`QuantityPurchased` * (`ProductPrice` + `GSTAmount`))) STORED,
  `PurchaseDate` datetime DEFAULT CURRENT_TIMESTAMP,
  `ExpiryDate` datetime NOT NULL,
  `InvoiceNumber` varchar(50) NOT NULL,
  `Status` enum('Pending','Completed','Cancelled') DEFAULT 'Pending',
  `CreatedAt` datetime DEFAULT CURRENT_TIMESTAMP,
  `UpdatedAt` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`Id`),
  UNIQUE KEY `InvoiceNumber` (`InvoiceNumber`),
  KEY `PharmacyId` (`PharmacyId`),
  KEY `ProductId` (`ProductId`),
  CONSTRAINT `pharmacypurchases_ibfk_1` FOREIGN KEY (`PharmacyId`) REFERENCES `pharmacies` (`Id`) ON DELETE CASCADE,
  CONSTRAINT `pharmacypurchases_ibfk_2` FOREIGN KEY (`ProductId`) REFERENCES `product` (`Id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pharmacypurchases`
--

LOCK TABLES `pharmacypurchases` WRITE;
/*!40000 ALTER TABLE `pharmacypurchases` DISABLE KEYS */;
/*!40000 ALTER TABLE `pharmacypurchases` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `prescription`
--

DROP TABLE IF EXISTS `prescription`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `prescription` (
  `Id` bigint NOT NULL AUTO_INCREMENT,
  `CustomerId` bigint NOT NULL,
  `OrderId` bigint NOT NULL,
  `UploadedFile` varchar(255) NOT NULL,
  `Verified` tinyint(1) DEFAULT '0',
  `VerifiedByDoctor` varchar(255) DEFAULT NULL,
  `VerifiedDate` datetime DEFAULT NULL,
  `Note` text,
  `CreatedDate` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`Id`),
  KEY `CustomerId` (`CustomerId`),
  KEY `OrderId` (`OrderId`),
  CONSTRAINT `prescription_ibfk_1` FOREIGN KEY (`CustomerId`) REFERENCES `users` (`Id`) ON DELETE CASCADE,
  CONSTRAINT `prescription_ibfk_2` FOREIGN KEY (`OrderId`) REFERENCES `orders` (`Id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `prescription`
--

LOCK TABLES `prescription` WRITE;
/*!40000 ALTER TABLE `prescription` DISABLE KEYS */;
/*!40000 ALTER TABLE `prescription` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `product`
--

DROP TABLE IF EXISTS `product`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `product` (
  `Id` bigint NOT NULL AUTO_INCREMENT,
  `CategoryId` bigint NOT NULL,
  `Name` varchar(300) DEFAULT NULL,
  `Image` varchar(100) DEFAULT NULL,
  `Price` decimal(18,2) DEFAULT NULL,
  `MRP` decimal(18,2) DEFAULT NULL,
  `Discount` decimal(18,2) DEFAULT NULL,
  `CreatedAt` datetime DEFAULT CURRENT_TIMESTAMP,
  `UpdatedAt` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `CreatedBy` bigint DEFAULT NULL,
  `UpdatedBy` bigint DEFAULT NULL,
  `IsDeleted` tinyint(1) DEFAULT '0',
  PRIMARY KEY (`Id`),
  KEY `fk_product_createdby` (`CreatedBy`),
  KEY `fk_product_updatedby` (`UpdatedBy`),
  CONSTRAINT `fk_product_createdby` FOREIGN KEY (`CreatedBy`) REFERENCES `users` (`Id`) ON DELETE SET NULL,
  CONSTRAINT `fk_product_updatedby` FOREIGN KEY (`UpdatedBy`) REFERENCES `users` (`Id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=4957 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `product`
--

LOCK TABLES `product` WRITE;
/*!40000 ALTER TABLE `product` DISABLE KEYS */;
/*!40000 ALTER TABLE `product` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `refunds`
--

DROP TABLE IF EXISTS `refunds`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `refunds` (
  `Id` bigint NOT NULL AUTO_INCREMENT,
  `OrderId` bigint NOT NULL,
  `PaymentId` bigint NOT NULL,
  `RefundAmount` decimal(10,2) NOT NULL,
  `RefundStatus` enum('Pending','Processed','Rejected') DEFAULT 'Pending',
  `Reason` text,
  `ProcessedBy` bigint DEFAULT NULL,
  `ProcessedDate` datetime DEFAULT NULL,
  `CreatedDate` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`Id`),
  KEY `OrderId` (`OrderId`),
  KEY `PaymentId` (`PaymentId`),
  CONSTRAINT `refunds_ibfk_1` FOREIGN KEY (`OrderId`) REFERENCES `orders` (`Id`) ON DELETE CASCADE,
  CONSTRAINT `refunds_ibfk_2` FOREIGN KEY (`PaymentId`) REFERENCES `payments` (`Id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `refunds`
--

LOCK TABLES `refunds` WRITE;
/*!40000 ALTER TABLE `refunds` DISABLE KEYS */;
/*!40000 ALTER TABLE `refunds` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `roles`
--

DROP TABLE IF EXISTS `roles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `roles` (
  `Id` bigint NOT NULL AUTO_INCREMENT,
  `RoleName` varchar(50) NOT NULL,
  `Description` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`Id`),
  UNIQUE KEY `RoleName` (`RoleName`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `roles`
--

LOCK TABLES `roles` WRITE;
/*!40000 ALTER TABLE `roles` DISABLE KEYS */;
/*!40000 ALTER TABLE `roles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `settlement`
--

DROP TABLE IF EXISTS `settlement`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `settlement` (
  `Id` bigint NOT NULL AUTO_INCREMENT,
  `PharmacyId` bigint NOT NULL,
  `TotalAmountDue` decimal(10,2) NOT NULL,
  `CommissionAmount` decimal(10,2) DEFAULT '0.00',
  `AmountPaid` decimal(10,2) NOT NULL,
  `TransactionID` varchar(100) NOT NULL,
  `PaymentDate` datetime DEFAULT CURRENT_TIMESTAMP,
  `PaymentStatus` enum('Pending','Processed','Failed') DEFAULT 'Pending',
  `SettlementPeriod` enum('Weekly','Monthly') NOT NULL,
  `Notes` text,
  PRIMARY KEY (`Id`),
  UNIQUE KEY `TransactionID` (`TransactionID`),
  KEY `PharmacyId` (`PharmacyId`),
  CONSTRAINT `admintopharmacysettlements_ibfk_1` FOREIGN KEY (`PharmacyId`) REFERENCES `pharmacies` (`Id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `settlement`
--

LOCK TABLES `settlement` WRITE;
/*!40000 ALTER TABLE `settlement` DISABLE KEYS */;
/*!40000 ALTER TABLE `settlement` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `states`
--

DROP TABLE IF EXISTS `states`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `states` (
  `Id` bigint NOT NULL AUTO_INCREMENT,
  `Name` varchar(100) NOT NULL,
  `CountryId` bigint NOT NULL,
  PRIMARY KEY (`Id`),
  KEY `CountryId` (`CountryId`),
  CONSTRAINT `states_ibfk_1` FOREIGN KEY (`CountryId`) REFERENCES `countries` (`Id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `states`
--

LOCK TABLES `states` WRITE;
/*!40000 ALTER TABLE `states` DISABLE KEYS */;
INSERT INTO `states` VALUES (1,'Maharashtra',1),(2,'Karnataka',1),(3,'California',2),(4,'Texas',2),(5,'Ontario',4),(6,'Quebec',4),(7,'New South Wales',5),(8,'Victoria',5),(9,'England',3),(10,'Scotland',3);
/*!40000 ALTER TABLE `states` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `useraddresses`
--

DROP TABLE IF EXISTS `useraddresses`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `useraddresses` (
  `Id` bigint NOT NULL AUTO_INCREMENT,
  `PersonId` bigint NOT NULL,
  `AddressLine` text NOT NULL,
  `CityId` bigint NOT NULL,
  `StateId` bigint NOT NULL,
  `CountryId` bigint NOT NULL,
  `Pincode` varchar(10) DEFAULT NULL,
  `Latitude` decimal(9,6) DEFAULT NULL,
  `Longitude` decimal(9,6) DEFAULT NULL,
  PRIMARY KEY (`Id`),
  KEY `PersonId` (`PersonId`),
  KEY `CityId` (`CityId`),
  KEY `StateId` (`StateId`),
  KEY `CountryId` (`CountryId`),
  CONSTRAINT `useraddresses_ibfk_2` FOREIGN KEY (`CityId`) REFERENCES `cities` (`Id`) ON DELETE CASCADE,
  CONSTRAINT `useraddresses_ibfk_3` FOREIGN KEY (`PersonId`) REFERENCES `persons` (`Id`) ON DELETE CASCADE,
  CONSTRAINT `useraddresses_ibfk_4` FOREIGN KEY (`StateId`) REFERENCES `states` (`Id`) ON DELETE CASCADE,
  CONSTRAINT `useraddresses_ibfk_5` FOREIGN KEY (`CountryId`) REFERENCES `countries` (`Id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=31 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `useraddresses`
--

LOCK TABLES `useraddresses` WRITE;
/*!40000 ALTER TABLE `useraddresses` DISABLE KEYS */;
INSERT INTO `useraddresses` VALUES (6,8,'string',90,1,1,'string',0.000000,0.000000),(7,9,'string',90,1,1,'string',0.000000,0.000000),(15,17,'Flat 305, Green Residency',90,1,1,'560001',12.972200,77.593700),(16,18,'Flat 402, Silver Residency',90,5,3,'110016',28.612900,77.215100),(19,21,'201 Wellness Tower, Next to City Mall',91,1,1,'400058',19.076000,72.877700),(27,38,'string',90,1,1,'string',0.000000,0.000000),(30,43,'string',90,1,1,'string',0.000000,0.000000);
/*!40000 ALTER TABLE `useraddresses` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `userjwttokenlog`
--

DROP TABLE IF EXISTS `userjwttokenlog`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `userjwttokenlog` (
  `Id` bigint NOT NULL AUTO_INCREMENT,
  `UserId` bigint DEFAULT NULL,
  `Token` text NOT NULL,
  `CreatedDate` datetime DEFAULT NULL,
  `UpdatedDate` datetime DEFAULT NULL,
  `TokenValidTill` datetime DEFAULT NULL,
  `IsActive` tinyint(1) NOT NULL DEFAULT '1',
  `RevokedOn` datetime DEFAULT NULL,
  PRIMARY KEY (`Id`),
  KEY `UserId` (`UserId`),
  CONSTRAINT `userjwttokenlog_ibfk_1` FOREIGN KEY (`UserId`) REFERENCES `users` (`Id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `userjwttokenlog`
--

LOCK TABLES `userjwttokenlog` WRITE;
/*!40000 ALTER TABLE `userjwttokenlog` DISABLE KEYS */;
/*!40000 ALTER TABLE `userjwttokenlog` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `userroles`
--

DROP TABLE IF EXISTS `userroles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `userroles` (
  `UserId` bigint NOT NULL,
  `RoleId` bigint NOT NULL,
  KEY `UserId` (`UserId`),
  KEY `RoleId` (`RoleId`),
  CONSTRAINT `userroles_ibfk_1` FOREIGN KEY (`UserId`) REFERENCES `users` (`Id`),
  CONSTRAINT `userroles_ibfk_2` FOREIGN KEY (`RoleId`) REFERENCES `roles` (`Id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `userroles`
--

LOCK TABLES `userroles` WRITE;
/*!40000 ALTER TABLE `userroles` DISABLE KEYS */;
INSERT INTO `userroles` VALUES (3,3),(6,3),(7,3),(8,3),(10,4),(13,4),(14,3),(15,3),(16,3);
/*!40000 ALTER TABLE `userroles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `Id` bigint NOT NULL AUTO_INCREMENT,
  `PersonId` bigint NOT NULL,
  `PasswordHash` blob NOT NULL,
  `Status` enum('Active','Inactive','Suspended','Pending') DEFAULT 'Pending',
  `CreatedAt` datetime DEFAULT CURRENT_TIMESTAMP,
  `UpdatedAt` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `FirstName` varchar(100) DEFAULT NULL,
  `LastName` varchar(100) DEFAULT NULL,
  `Email` varchar(255) DEFAULT NULL,
  `PasswordSalt` blob NOT NULL,
  `LastLoginDate` datetime DEFAULT NULL,
  `IsLocked` tinyint(1) DEFAULT '0',
  `IsDeleted` tinyint(1) DEFAULT '0',
  PRIMARY KEY (`Id`),
  KEY `PersonId` (`PersonId`),
  CONSTRAINT `users_ibfk_1` FOREIGN KEY (`PersonId`) REFERENCES `persons` (`Id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=17 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `usertokens`
--

DROP TABLE IF EXISTS `usertokens`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `usertokens` (
  `Id` bigint NOT NULL AUTO_INCREMENT,
  `UserId` bigint NOT NULL,
  `Token` varchar(255) NOT NULL,
  `ExpiresAt` datetime NOT NULL,
  `IsUsed` tinyint(1) DEFAULT '0',
  `CreatedAt` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`Id`)
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `usertokens`
--

LOCK TABLES `usertokens` WRITE;
/*!40000 ALTER TABLE `usertokens` DISABLE KEYS */;
INSERT INTO `usertokens` VALUES (8,3,'179f6f1c-2ad3-49b8-b07b-cf26e7de9cf4','2025-04-14 16:58:19',1,'2025-04-14 10:28:20'),(9,16,'4e8cef44-c8b2-4256-bca2-74c8251936ef','2025-04-17 20:58:50',0,'2025-04-17 14:28:50');
/*!40000 ALTER TABLE `usertokens` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping events for database 'repmed'
--

--
-- Dumping routines for database 'repmed'
--
/*!50003 DROP PROCEDURE IF EXISTS `GET_PHARMACY_PAGED` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` PROCEDURE `GET_PHARMACY_PAGED`(
    IN page INT,
    IN pageSize INT,
    IN searchText VARCHAR(255),
    IN statusFilter VARCHAR(50),
    IN Order_by VARCHAR(255)
)
BEGIN
    DECLARE offset INT;
    DECLARE order_column VARCHAR(255); 
    DECLARE order_direction VARCHAR(4); 

    -- Default values
    SET page = IFNULL(page, 1);
    SET pageSize = IFNULL(pageSize, 10);
    SET searchText = IFNULL(searchText, '');
    SET statusFilter = IFNULL(statusFilter, '');

    -- Order by parsing
    SET order_column = SUBSTRING_INDEX(Order_by, '|', 1);
    SET order_direction = IF(LOCATE('|', Order_by) > 0, SUBSTRING_INDEX(Order_by, '|', -1), 'ASC');

    SET offset = (page - 1) * pageSize;

    SELECT 
        ph.Id,
        ph.StoreName,
        ph.RegisteredMobile,
        ph.OfficialEmail,
        ph.OwnerName,
        ph.Status,
        ph.Address1,
        ct.Name AS CityName,
        st.Name AS StateName,
        cn.Name AS CountryName,
        COUNT(*) OVER() AS TotalCount,
        CEIL((COUNT(*) OVER()) / pageSize) AS TotalPages,
        page AS Page,
        pageSize AS PageSize,
        1 AS IndexFrom
    FROM 
        pharmacies ph
    LEFT JOIN cities ct ON ph.CityId = ct.Id
    LEFT JOIN states st ON ph.StateId = st.Id
    LEFT JOIN countries cn ON ph.CountryId = cn.Id
    WHERE 
        (
            LOWER(ph.StoreName) LIKE CONCAT('%', LOWER(searchText), '%') COLLATE utf8mb4_unicode_ci
            OR LOWER(ph.OfficialEmail) LIKE CONCAT('%', LOWER(searchText), '%') COLLATE utf8mb4_unicode_ci
            OR LOWER(ph.RegisteredMobile) LIKE CONCAT('%', LOWER(searchText), '%') COLLATE utf8mb4_unicode_ci
        )
        AND (
            statusFilter = '' 
            OR (statusFilter = 'active' AND ph.Status = 'Active') 
            OR (statusFilter = 'inactive' AND ph.Status = 'Inactive')
        )
    ORDER BY 
        CASE 
            WHEN order_column = 'StoreName' THEN ph.StoreName
            WHEN order_column = 'OfficialEmail' THEN ph.OfficialEmail
            WHEN order_column = 'CreatedAt' THEN ph.CreatedAt
            WHEN order_column = 'City' THEN ct.Name
            WHEN order_column = 'State' THEN st.Name
            WHEN order_column = 'Country' THEN cn.Name
            ELSE ph.Id
        END 
        * CASE WHEN LOWER(order_direction) = 'desc' THEN -1 ELSE 1 END
    LIMIT offset, pageSize;

END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 DROP PROCEDURE IF EXISTS `GET_USERS_PAGED` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` PROCEDURE `GET_USERS_PAGED`(
    IN page INT,
    IN pageSize INT,
    IN searchText VARCHAR(255),
    IN statusFilter VARCHAR(50),
    IN Order_by VARCHAR(255)
)
BEGIN
    DECLARE offset INT;
    DECLARE order_column VARCHAR(255); 
    DECLARE order_direction VARCHAR(4);
 
    -- Default values
    SET page = IFNULL(page, 1);
    SET pageSize = IFNULL(pageSize, 10);
    SET searchText = IFNULL(searchText, '');
    SET statusFilter = IFNULL(statusFilter, '');
 
    -- Order by parsing
    SET order_column = SUBSTRING_INDEX(Order_by, '|', 1);
    SET order_direction = IF(LOCATE('|', Order_by) > 0, SUBSTRING_INDEX(Order_by, '|', -1), 'ASC');
 
    SET offset = (page - 1) * pageSize;
 
    SELECT 
        u.Id AS UserId,
        p.Id AS PersonId,
        u.Status,
        p.FirstName,
        p.LastName,
        p.Email,
        p.Mobile,
        COUNT(*) OVER() AS TotalCount,
        CEIL((COUNT(*) OVER()) / pageSize) AS TotalPages,
        page AS Page,
        pageSize AS PageSize,
        1 AS IndexFrom
    FROM 
        users u
    INNER JOIN persons p ON u.PersonId = p.Id
    WHERE 
        (
            LOWER(p.FirstName) LIKE CONCAT('%', LOWER(searchText), '%') COLLATE utf8mb4_unicode_ci
            OR LOWER(p.LastName) LIKE CONCAT('%', LOWER(searchText), '%') COLLATE utf8mb4_unicode_ci
            OR LOWER(p.Email) LIKE CONCAT('%', LOWER(searchText), '%') COLLATE utf8mb4_unicode_ci
            OR LOWER(p.Mobile) LIKE CONCAT('%', LOWER(searchText), '%') COLLATE utf8mb4_unicode_ci
        )
        AND (
            statusFilter = '' 
            OR LOWER(u.Status) = LOWER(statusFilter)
        )
    ORDER BY 
        CASE 
            WHEN order_column = 'FirstName' THEN p.FirstName
            WHEN order_column = 'LastName' THEN p.LastName
            WHEN order_column = 'Email' THEN p.Email
            WHEN order_column = 'Mobile' THEN p.Mobile
            WHEN order_column = 'Status' THEN u.Status
            WHEN order_column = 'CreatedAt' THEN u.CreatedAt
            ELSE u.Id
        END 
        * CASE WHEN LOWER(order_direction) = 'desc' THEN -1 ELSE 1 END
    LIMIT offset, pageSize;
END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-04-20  3:48:04
