<section>Admin Header</section>

<div class="sidebar">
  <h2>Admin</h2>
  <a [routerLink]="['/admin/dashboard']">Dashboard</a>
  <a (click)="toggleSubmenu('userSubmenu')">Users ▾</a>
  <div class="submenu" id="userSubmenu">
    <a [routerLink]="['/admin/user/add']">Add SubAdmin</a>
    <a [routerLink]="['/admin/user/list']">Users List</a>
  </div>
  <a (click)="toggleSubmenu('pharmacySubmenu')">Pharmacy ▾</a>
  <div class="submenu" id="pharmacySubmenu">
    <a [routerLink]="['/admin/pharmacy/add']">Add</a>
    <a [routerLink]="['/admin/pharmacy']">List</a>
  </div>
  <!--<a [routerLink]="['']">Product</a>
  <a [routerLink]="['']">Order</a>
  <a [routerLink]="['']">Payment & Transaction</a>
  <a [routerLink]="['']">Discount & Coupon Management</a>
  <a [routerLink]="['']">Logout</a>-->
</div>

<div class="main-content" style="margin-left: 220px; margin-right: 100px; padding: 20px;">
  <router-outlet></router-outlet>
</div>
<footer>AdminFooter</footer>