<section>Admin Header</section>

<div class="sidebar">
  <h2>Pharmacy</h2>
  <a [routerLink]="['']">Dashboard</a>
  <a [routerLink]="['']">Profile Management</a>
  <a [routerLink]="['']">User Details & Communication</a>
  <a [routerLink]="['']">Product Management</a>
  <a [routerLink]="['']">Order Management</a>
  <a [routerLink]="['']">Prescription Verification</a>
  <a [routerLink]="['']">Payment & Invoice Management</a>
  <a [routerLink]="['']">Notifications & Alerts</a>
  <a [routerLink]="['']">Logout</a>
</div>

<div class="main-content" style="margin-left: 220px; margin-right: 100px; padding: 20px;">
  <router-outlet></router-outlet>
</div>
<footer>AdminFooter</footer>