<!-- <div *ngIf="errorMessage" class="alert alert-danger">
    {{ errorMessage }}
</div> -->
<div class="authentication">

    <form class="auth_form form_validation" *ngIf="phForm" appAutoValidate [formGroup]="phForm" #phForm_html="ngForm"
        (ngSubmit)="onSubmit()">
        <!-- Section 1: Pharmacy -->
        <fieldset formGroupName="pharmacy">
            <legend>Pharmacy Details</legend>
            <div class="form-grid">
                <div class="input-group mb-4 float">
                    <input type="text" placeholder="" formControlName="ownerName" class="form-control" minlength="3" maxlength="25">
                    <label class="float-lbl">Owner Name *</label>
                </div>
                <div class="input-group mb-4 float">
                    <input type="text" placeholder="" formControlName="storeName" class="form-control" minlength="2" maxlength="30">
                    <label class="float-lbl">Store Name *</label>
                </div>
                <div class="input-group mb-4 float">
                    <input type="text" placeholder=" " formControlName="businessName" class="form-control" minlength="2" maxlength="25">
                    <label class="float-lbl">Business Name *</label>
                </div>
                <div class="input-group mb-4 float">
                    <input type="text" placeholder="ABCdef123" formControlName="licenseNumber" class="form-control"  maxlength="16">
                    <label class="float-lbl">License Number *</label>
                </div>

                <div class="input-group mb-4 float">
                    <input type="date" placeholder="MH-21B-67890" formControlName="licenseExpiry" class="form-control"
                        [min]="minExpiryDate" 
                        [max]="maxExpiryDate"
                        (keydown)="disableKeyInput($event)"
                        (paste)="disablePaste($event)" >
                    <label class="float-lbl">License Expiry *</label>
                </div>

                <div class="input-group mb-4 float">
                    <input type="text" placeholder="09AAACH7409R1ZZ" formControlName="gstNumber" class="form-control"
                        maxlength="15">
                    <label class="float-lbl">GST Number *</label>
                </div>
                <div class="input-group mb-4 float" [formGroup]="phForm.get('pharmacy')">
                    <input type="text" formControlName="registeredMobile" class="form-control" placeholder="1234567890"
                        maxlength="10" (keypress)="allowOnlyNumbers($event)" (paste)="disablePaste($event)">
                    <label class="float-lbl">Registered Mobile *</label>
                </div>
                <div class="input-group mb-4 float" [formGroup]="phForm.get('pharmacy')">
                    <input type="email" formControlName="officialEmail" class="form-control"
                        placeholder="example@mail.com" maxlength="30">
                    <label class="float-lbl">Official Email *</label>
                </div>
            </div>
        </fieldset>

        <!-- Section 2: Pharmacy Address -->
        <fieldset formGroupName="pharmacy">
            <legend>Pharmacy Address</legend>
            <div class="form-grid">
                <div class="input-group mb-4 float">
                    <textarea rows="2" placeholder=" " formControlName="address1" class="form-control"
                        style="width: 90%;" required maxlength="100"></textarea>
                    <label class="float-lbl">Address 1 *</label>
                </div>
                <div class="input-group mb-4 float">
                    <textarea rows="2" placeholder=" " formControlName="address2" class="form-control"
                        style="width: 90%;" required maxlength="100"></textarea>
                    <label class="float-lbl">Address 2 *</label>
                </div>
            </div>
            <div class="form-grid">
                <div class="input-group mb-4 float">
                    <select formControlName="countryId" class="form-control" required (change)="onCountryDropdownChange($event)">
                        <option value="" disabled selected>Select country</option>
                        <option *ngFor="let country of countries" [value]="country.value">{{ country.text }}
                        </option>
                    </select>
                    <label class="float-lbl">Country *</label>
                </div>
                <div class="input-group mb-4 float">
                    <select formControlName="stateId" class="form-control" required (change)="onCityDropdownChange($event)">
                        <option value="" disabled selected>Select state</option>
                        <option *ngFor="let state of states" [value]="state.value">{{ state.text }}</option>
                    </select>
                    <label class="float-lbl">State *</label>
                </div>
                <div class="input-group mb-4 float">
                    <select formControlName="cityId" class="form-control" required>
                        <option value="" disabled selected>Select city</option>
                        <option *ngFor="let city of cities" [value]="city.value">{{ city.text }}</option>
                    </select>
                    <label class="float-lbl">City *</label>
                </div>
            </div>
        </fieldset>

        <!-- Section 2: Pharmacy Person -->
        <fieldset formGroupName="user">
            <legend>Pharmacy Person</legend>
            <div class="form-grid">
                <div class="input-group mb-4 float" [formGroup]="phForm.get('user')">
                    <input type="email" formControlName="email" class="form-control" placeholder=" " maxlength="30">
                    <label class="float-lbl">Email *</label>
                </div>
                <div class="mb-3 form-password-toggle">
                    <div class="input-group input-group-merge">
                        <input type="password" id="Password" class="form-control" style="width: 50% !important;"
                            name="Password" formControlName="Password" placeholder="" aria-describedby="password" maxlength="16" />
                        <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                        <label class="float-lbl">Password *</label>
                    </div>
                </div>
                <div class="mb-3 form-password-toggle">
                    <div class="input-group input-group-merge">
                        <input type="password" id="ConfirmPassword" class="form-control" style="width: 50% !important;"
                            name="ConfirmPassword" formControlName="ConfirmPassword" placeholder=""
                            aria-describedby="ConfirmPassword" maxlength="16" />
                        <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                        <label class="float-lbl">Confirm Password *</label>
                    </div>
                </div>
            </div>
        </fieldset>

        <!-- Section 4: Bank Details -->
        <fieldset formGroupName="pharmacyBankDetails">
            <legend>Bank Details</legend>
            <div class="form-grid">
                <div class="input-group mb-4 float">
                    <input type="text" placeholder=" " formControlName="bankName" class="form-control" minlength="3" maxlength="25">
                    <label class="float-lbl">Bank Name *</label>
                </div>

                <div class="input-group mb-4 float">
                    <input type="text" placeholder=" " formControlName="accountholderName" class="form-control" minlength="3" maxlength="25">
                    <label class="float-lbl">Account Holder Name *</label>
                </div>
                <div class="input-group mb-4 float">
                    <input type="text" placeholder=" " formControlName="accountNumber" class="form-control" minlength="10"
                        maxlength="16" (keypress)="allowOnlyNumbers($event)" (paste)="disablePaste($event)">
                    <label class="float-lbl">Account Number *</label>
                </div>
                <div class="input-group mb-4 float">
                    <input type="text" placeholder=" " formControlName="ifscCode" class="form-control" maxlength="16">
                    <label class="float-lbl">IFSC Code *</label>
                </div>
                <div class="input-group mb-4 float">
                    <input type="text" placeholder=" " formControlName="branchName" class="form-control" minlength="3" maxlength="25">
                    <label class="float-lbl">Branch Name *</label>
                </div>
                <div class="input-group mb-4 float">
                    <input type="text" placeholder=" " formControlName="upiId" class="form-control" maxlength="20">
                    <label class="float-lbl">UPI ID </label>
                </div>
            </div>
        </fieldset>
        <div class="row justify-content-end">
            <div class="col-sm-1">
                <button class="btn custom-btn" type="submit">Save</button>
            </div>
        </div>
    </form>
</div>