<div class="authentication">
  <div class="pharmacy-form-container">
    <form class="card auth_form form_validation" [formGroup]="editpharmacyForm" (ngSubmit)="onSubmit()">
      <!-- Section 1: Pharmacy -->
      <fieldset formGroupName="pharmacy">
        <legend>Pharmacy Details</legend>
        <div class="form-grid">
          <div class="input-group mb-4 float">
            <input type="text" placeholder="" formControlName="ownerName" class="form-control" required>
            <label class="float-lbl">Owner Name *</label>
            <div
              *ngIf="editpharmacyForm.get('pharmacy.ownerName')?.touched && editpharmacyForm.get('pharmacy.ownerName')?.errors?.['required']"
              class="text-danger">OwnerName is required.</div>
          </div>

          <div class="input-group mb-4 float">
            <input type="text" placeholder="" formControlName="storeName" class="form-control" required>
            <label class="float-lbl">Store Name *</label>
            <div
              *ngIf="editpharmacyForm.get('pharmacy.storeName')?.touched && editpharmacyForm.get('pharmacy.storeName')?.errors?.['required']"
              class="text-danger">StoreName is required.</div>
          </div>

          <div class="input-group mb-4 float">
            <input type="text" placeholder=" " formControlName="businessName" class="form-control" required>
            <label class="float-lbl">Business Name *</label>
            <div
              *ngIf="editpharmacyForm.get('pharmacy.businessName')?.touched && editpharmacyForm.get('pharmacy.businessName')?.errors?.['required']"
              class="text-danger">BusinessName is required.</div>
          </div>

          <div class="input-group mb-4 float">
            <input type="text" placeholder=" " formControlName="licenseNumber" class="form-control" required>
            <label class="float-lbl">License Number *</label>
            <div
              *ngIf="editpharmacyForm.get('pharmacy.licenseNumber')?.touched && editpharmacyForm.get('pharmacy.licenseNumber')?.errors?.['required']"
              class="text-danger">LicenseNumber is required.</div>
          </div>

          <div class="input-group mb-4 float">
            <input type="date" placeholder=" " formControlName="licenseExpiry" class="form-control" required
              [min]="minExpiryDate">
            <label class="float-lbl">License Expiry *</label>
            <div
              *ngIf="editpharmacyForm.get('pharmacy.licenseExpiry')?.touched && editpharmacyForm.get('pharmacy.licenseExpiry')?.errors?.['required']"
              class="text-danger">LicenseExpiry date is required.</div>
          </div>

          <div class="input-group mb-4 float">
            <input type="text" placeholder=" " formControlName="gstNumber" class="form-control" required>
            <label class="float-lbl">GST Number *</label>
            <div
              *ngIf="editpharmacyForm.get('pharmacy.gstNumber')?.touched && editpharmacyForm.get('pharmacy.gstNumber')?.errors?.['required']"
              class="text-danger">GSTNumber is required.</div>
            <div
              *ngIf="editpharmacyForm.get('pharmacy.gstNumber')?.touched && editpharmacyForm.get('pharmacy.gstNumber')?.errors?.['pattern']"
              class="text-danger">
              Enter a valid GST Number (15 characters).
            </div>
          </div>

          <div class="input-group mb-4 float">
            <input type="text" placeholder=" " formControlName="registeredMobile" class="form-control" required
              maxlength="10" (keypress)="allowOnlyNumbers($event)">
            <label class="float-lbl">Registered Mobile *</label>
            <div
              *ngIf="editpharmacyForm.get('pharmacy.registeredMobile')?.touched && editpharmacyForm.get('pharmacy.registeredMobile')?.errors?.['required']"
              class="text-danger">RegisteredMobile is required.</div>
            <div
              *ngIf="editpharmacyForm.get('pharmacy.registeredMobile')?.errors?.['pattern'] && editpharmacyForm.get('pharmacy.registeredMobile')?.touched"
              class="text-danger">
              Mobile number must be exactly 10 digits.
            </div>
          </div>

          <div class="input-group mb-4 float">
            <input type="email" placeholder=" " formControlName="officialEmail" class="form-control" [readonly]="true">
            <label class="float-lbl">Official Email *</label>
            <div
              *ngIf="editpharmacyForm.get('pharmacy.officialEmail')?.touched && editpharmacyForm.get('pharmacy.officialEmail')?.errors?.['required']"
              class="text-danger">
              Official Email is required.
            </div>

          </div>

          <div class="input-group mb-4 float">
            <input type="text" placeholder=" " formControlName="storeMobile1" class="form-control" required
              maxlength="10" (keypress)="allowOnlyNumbers($event)">
            <label class="float-lbl">Store Mobile 1 *</label>
            <div
              *ngIf="editpharmacyForm.get('pharmacy.storeMobile1')?.touched && editpharmacyForm.get('pharmacy.storeMobile1')?.errors?.['required']"
              class="text-danger">StoreMobile1 is required.</div>
            <div
              *ngIf="editpharmacyForm.get('pharmacy.storeMobile1')?.errors?.['pattern'] && editpharmacyForm.get('pharmacy.storeMobile1')?.touched"
              class="text-danger">
              Mobile number must be exactly 10 digits.
            </div>
          </div>

          <div class="input-group mb-4 float">
            <input type="email" placeholder=" " formControlName="storeEmail1" class="form-control">
            <label class="float-lbl">Store Email 1 *</label>
            <div
              *ngIf="editpharmacyForm.get('pharmacy.storeEmail1')?.touched && editpharmacyForm.get('pharmacy.storeEmail1')?.errors?.['email']"
              class="text-danger">Please enter a valid email address.</div>

          </div>

          <div class="input-group mb-4 float">
            <input type="email" placeholder=" " formControlName="storeEmail2" class="form-control">
            <label class="float-lbl">Store Email 2 *</label>
            <div
              *ngIf="editpharmacyForm.get('pharmacy.storeEmail2')?.touched && editpharmacyForm.get('pharmacy.storeEmail2')?.errors?.['email']"
              class="text-danger">Please enter a valid email address.</div>
          </div>
        </div>
      </fieldset>

      <!-- Section 2: Pharmacy Address -->
      <fieldset formGroupName="pharmacy">
        <legend>Pharmacy Address</legend>
        <div class="form-grid">
          <div class="input-group mb-4 float">
            <textarea rows="2" placeholder=" " formControlName="address1" class="form-control" style="width: 90%;"
              required></textarea>
            <label class="float-lbl">Address 1 *</label>
            <div
              *ngIf="editpharmacyForm.get('pharmacy.address1')?.touched && editpharmacyForm.get('pharmacy.address1')?.errors?.['required']"
              class="text-danger">Address is required.</div>
          </div>

          <div class="input-group mb-4 float">
            <textarea rows="2" placeholder=" " formControlName="address2" class="form-control" style="width: 90%;"
              required></textarea>
            <label class="float-lbl">Address 2 *</label>
            <div
              *ngIf="editpharmacyForm.get('pharmacy.address2')?.touched && editpharmacyForm.get('pharmacy.address2')?.errors?.['required']"
              class="text-danger">Address is required.</div>
          </div>
        </div>
        <div  class="form-grid" >
          <div class="input-group mb-4 float">
            <select formControlName="countryId" class="form-control" required>
              <option value="" disabled selected>Select country</option>
              <option *ngFor="let country of countries" [value]="country.value">{{ country.text }}</option>
            </select>
            <label class="float-lbl">Country *</label>
            <div
              *ngIf="editpharmacyForm.get('pharmacy.countryId')?.touched && editpharmacyForm.get('pharmacy.countryId')?.errors?.['required']"
              class="text-danger">Country is required.</div>
          </div>

          <div class="input-group mb-4 float">
            <select formControlName="stateId" class="form-control" required>
              <option value="" disabled selected>Select state</option>
              <option *ngFor="let state of states" [value]="state.value">{{ state.text }}</option>
            </select>
            <label class="float-lbl">State *</label>
            <div
              *ngIf="editpharmacyForm.get('pharmacy.stateId')?.touched && editpharmacyForm.get('pharmacy.stateId')?.errors?.['required']"
              class="text-danger">State is required.</div>
          </div>

          <div class="input-group mb-4 float">
            <select formControlName="cityId" class="form-control" required>
              <option value="" disabled selected>Select city</option>
              <option *ngFor="let city of cities" [value]="city.value">{{ city.text }}</option>
            </select>
            <label class="float-lbl">City *</label>
            <div
              *ngIf="editpharmacyForm.get('pharmacy.cityId')?.touched && editpharmacyForm.get('pharmacy.cityId')?.errors?.['required']"
              class="text-danger">City is required.</div>
          </div>
        </div>
      </fieldset>


      <!-- Section 3: Pharmacy Person -->

      <fieldset formGroupName="user">
        <legend>Pharmacy Person</legend>
        <div class="form-grid">
          <div class="input-group mb-4 float">
            <input type="text" placeholder="" formControlName="firstName" class="form-control" required>
            <label class="float-lbl">First Name *</label>
            <div
              *ngIf="editpharmacyForm.get('user.firstName')?.touched && editpharmacyForm.get('user.firstName')?.errors?.['required']"
              class="text-danger">FirstName is required.</div>
          </div>
          <div class="input-group mb-4 float">
            <input type="text" placeholder="" formControlName="lastName" class="form-control" required>
            <label class="float-lbl">Last Name *</label>
            <div
              *ngIf="editpharmacyForm.get('user.lastName')?.touched && editpharmacyForm.get('user.lastName')?.errors?.['required']"
              class="text-danger">LastName is required.</div>
          </div>
          <div class="input-group mb-4 float">
            <input type="email" placeholder="" formControlName="email" class="form-control" required>
            <label class="float-lbl">Email *</label>
            <div
              *ngIf="editpharmacyForm.get('user.email')?.touched && editpharmacyForm.get('user.email')?.errors?.['required']"
              class="text-danger">Email is required.</div>
            <div
              *ngIf="editpharmacyForm.get('user.email')?.touched && editpharmacyForm.get('user.email')?.errors?.['email']"
              class="text-danger">Please enter a valid email address.</div>
          </div>
          <div class="input-group mb-4 float">
            <input type="text" placeholder="" formControlName="mobile" class="form-control" required maxlength="10"
              (keypress)="allowOnlyNumbers($event)">
            <label class="float-lbl">Mobile *</label>
            <div
              *ngIf="editpharmacyForm.get('user.mobile')?.touched && editpharmacyForm.get('user.mobile')?.errors?.['required']"
              class="text-danger">Mobile is required.</div>
            <div
              *ngIf="editpharmacyForm.get('user.mobile')?.errors?.['pattern'] && editpharmacyForm.get('user.mobile')?.touched"
              class="text-danger">
              Only digits allowed.
            </div>
          </div>
          <div class="input-group mb-4 float">
            <input type="date" formControlName="dateofBirth" class="form-control" required [max]="maxDate">
            <label class="float-lbl">Date Of Birth *</label>
            <div
              *ngIf="editpharmacyForm.get('user.dateofBirth')?.touched && editpharmacyForm.get('user.dateofBirth')?.errors?.['required']"
              class="text-danger">Date of Birth is required</div>
            <div
              *ngIf="editpharmacyForm.get('user.dateofBirth')?.errors?.['futureDate'] && (editpharmacyForm.get('user.dateofBirth')?.touched || editpharmacyForm.get('user.dateofBirth')?.dirty)"
              class="text-danger">Date of Birth cannot be in the future</div>
          </div>

          <div class="input-group mb-4 float">
            <select formControlName="gender" class="form-control" required>
              <option value="" disabled selected>Select Gender</option>
              <option value="Male">Male</option>
              <option value="Female">Female</option>
              <option value="Other">Other</option>
            </select>
            <label class="float-lbl">Gender *</label>
            <div
              *ngIf="editpharmacyForm.get('user.gender')?.touched && editpharmacyForm.get('user.gender')?.errors?.['required']"
              class="text-danger">Gender is required.</div>
          </div>
          <div class="input-group mb-4">
            <label class="form-label">Upload Picture *</label>
            <input type="file" formControlName="picture" class="form-control" accept="image/*">
          </div>
        </div>
      </fieldset>

      <!-- Section 4: Bank Details -->
      <fieldset formGroupName="pharmacyBankDetails">
        <legend>Bank Details</legend>
        <div class="form-grid">
          <div class="input-group mb-4 float">
            <input type="text" placeholder=" " formControlName="bankName" class="form-control" required>
            <label class="float-lbl">Bank Name *</label>
            <div
              *ngIf="editpharmacyForm.get('pharmacyBankDetails.bankName')?.touched && editpharmacyForm.get('pharmacyBankDetails.bankName')?.errors?.['required']"
              class="text-danger">Bank Name is required.</div>
          </div>

          <div class="input-group mb-4 float">
            <input type="text" placeholder=" " formControlName="accountholderName" class="form-control" required>
            <label class="float-lbl">Account Holder Name *</label>
            <div
              *ngIf="editpharmacyForm.get('pharmacyBankDetails.accountholderName')?.touched && editpharmacyForm.get('pharmacyBankDetails.accountholderName')?.errors?.['required']"
              class="text-danger">AccountHolderName is required.</div>
          </div>

          <div class="input-group mb-4 float">
            <input type="text" placeholder=" " formControlName="accountNumber" class="form-control" maxlength="16"
              required required (keypress)="allowOnlyNumbers($event)">
            <label class="float-lbl">Account Number *</label>
            <div
              *ngIf="editpharmacyForm.get('pharmacyBankDetails.accountNumber')?.touched && editpharmacyForm.get('pharmacyBankDetails.accountNumber')?.errors?.['required']"
              class="text-danger">AccountNumber is required.</div>
          </div>
          <div
              *ngIf="editpharmacyForm.get('pharmacyBankDetails.accountholderName')?.errors?.['maxlength'] && editpharmacyForm.get('pharmacyBankDetails.accountholderName')?.touched"
              class="text-danger">
              Maximum 16 digits allowed
            </div>

          <div class="input-group mb-4 float">
            <input type="text" placeholder=" " formControlName="ifscCode" class="form-control" required>
            <label class="float-lbl">IFSC Code *</label>
            <div
              *ngIf="editpharmacyForm.get('pharmacyBankDetails.ifscCode')?.touched && editpharmacyForm.get('pharmacyBankDetails.ifscCode')?.errors?.['required']"
              class="text-danger">IFSCCode is required.</div>
          </div>

          <div class="input-group mb-4 float">
            <input type="text" placeholder=" " formControlName="branchName" class="form-control" required>
            <label class="float-lbl">Branch Name *</label>
            <div
              *ngIf="editpharmacyForm.get('pharmacyBankDetails.branchName')?.touched && editpharmacyForm.get('pharmacyBankDetails.branchName')?.errors?.['required']"
              class="text-danger">BranchName is required.</div>
          </div>

          <div class="input-group mb-4 float">
            <input type="text" placeholder=" " formControlName="upiId" class="form-control" required>
            <label class="float-lbl">UPI ID *</label>
            <div
              *ngIf="editpharmacyForm.get('pharmacyBankDetails.upiId')?.errors?.['pattern'] && editpharmacyForm.get('pharmacyBankDetails.upiId')?.touched"
              class="text-danger">
              Please enter a valid UPI ID.
            </div>
          </div>
        </div>
      </fieldset>

      <!-- Submit Button -->
      <div class="form-actions">
        <button type="submit">Update Pharmacy</button>
      </div>
    </form>
  </div>
</div>