
<script src="../../../../assets/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="../../../../assets/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
<link href="../../../../assets/datatables.net-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" />


<div class="container mt-4">
    <h3 class="mb-4 text-primary">📋 Pharmacy List</h3>
  
    <table id="post_pharmacylist_datatable" class="table table-centered m-0">
      <thead class="thead-light">
        <tr>
          <th style="width: 40px;"><input type="checkbox" /></th>
          
        </tr>
      </thead>
    </table>
  </div>
  