<div class="authentication">
<div class="pharmacy-form-container">
    <form formvalidator class="card auth_form form_validation" *ngIf="phForm" [formGroup]="phForm" #phForm_html="ngForm" (ngSubmit)="onSubmit()">
      <!-- Section 1: Pharmacy -->
      <fieldset>
        <legend>Pharmacy Details</legend>
        <div class="form-grid">
            <div class="input-group mb-4 float">
                <input type="text" placeholder="" formControlName="ownerName" class="form-control" required>
                <label class="float-lbl">Owner Name *</label>
                <div *ngIf="phForm.get('ownerName')?.touched && phForm.get('ownerName')?.errors?.['required']">OwnerName is required.</div>
            </div>

            <div class="input-group mb-4 float">
                <input type="text" placeholder="" formControlName="storeName" class="form-control" required>
                <label class="float-lbl">Store Name *</label>
                <div *ngIf="phForm.get('storeName')?.touched && phForm.get('storeName')?.errors?.['required']">StoreName is required.</div>
            </div>

            <div class="input-group mb-4 float">
                <input type="text" placeholder=" " formControlName="businessName" class="form-control" required>
                <label class="float-lbl">Business Name *</label>
                <div *ngIf="phForm.get('businessName')?.touched && phForm.get('businessName')?.errors?.['required']">BusinessName is required.</div>
            </div>

            <div class="input-group mb-4 float">
                <input type="text" placeholder=" " formControlName="licenseNumber" class="form-control" required>
                <label class="float-lbl">License Number *</label>
                <div *ngIf="phForm.get('licenseNumber')?.touched && phForm.get('licenseNumber')?.errors?.['required']">LicenseNumber is required.</div>
            </div>

            <div class="input-group mb-4 float">
                <input type="date" placeholder=" " formControlName="licenseExpiry" class="form-control" required  [min]="minExpiryDate">
                <label class="float-lbl">License Expiry *</label>
                <div *ngIf="phForm.get('licenseExpiry')?.touched && phForm.get('licenseExpiry')?.errors?.['required']">LicenseExpiry date is required.</div>
                <div *ngIf="phForm.get('licenseExpiry')?.errors?.['pastDate'] && (phForm.get('licenseExpiry')?.touched || phForm.get('licenseExpiry')?.dirty)">
                  Expiry date cannot be in the past.
                </div>
                
            </div>

            <div class="input-group mb-4 float">
                <input type="text" placeholder=" " formControlName="gstNumber" class="form-control" required>
                <label class="float-lbl">GST Number *</label>
                <div *ngIf="phForm.get('gstNumber')?.touched && phForm.get('gstNumber')?.errors?.['required']">GSTNumber is required.</div>
                <div *ngIf="phForm.get('gstNumber')?.touched && phForm.get('gstNumber')?.errors?.['pattern']">
                  Enter a valid GST Number (15 characters).
                </div>
            </div>

            <div class="input-group mb-4 float">
                <input type="text" placeholder=" " formControlName="registeredMobile" class="form-control" required maxlength="10" (keypress)="allowOnlyNumbers($event)">
                <label class="float-lbl">Registered Mobile *</label>
                <div *ngIf="phForm.get('registeredMobile')?.touched && phForm.get('registeredMobile')?.errors?.['required']">RegisteredMobile is required.</div>
                <div *ngIf="phForm.get('registeredMobile')?.errors?.['pattern'] && phForm.get('registeredMobile')?.touched">
                  Only digits allowed.
                </div>
            </div>

            <div class="input-group mb-4 float">
                <input type="email" placeholder=" " formControlName="officialEmail" class="form-control" required>
                <label class="float-lbl">Official Email *</label>
                <div *ngIf="phForm.get('officialEmail')?.touched && phForm.get('officialEmail')?.errors?.['required']">
                  Official Email is required.
                </div>
                <div *ngIf="phForm.get('officialEmail')?.touched && phForm.get('officialEmail')?.errors?.['email']">
                  Please enter a valid email address.
                </div>
                
            </div>

            <div class="input-group mb-4 float">
                <input type="text" placeholder=" " formControlName="storeMobile1" class="form-control" required maxlength="10" (keypress)="allowOnlyNumbers($event)">
                <label class="float-lbl">Store Mobile 1 *</label>
                <div *ngIf="phForm.get('storeMobile1')?.touched && phForm.get('storeMobile1')?.errors?.['required']">Mobile number is required.</div>
                <div *ngIf="phForm.get('storeMobile1')?.errors?.['pattern'] && phForm.get('storeMobile1')?.touched">
                  Only digits allowed.
                </div>
            </div>

            <div class="input-group mb-4 float">
                <input type="email" placeholder=" " formControlName="storeEmail1" class="form-control" required>
                <label class="float-lbl">Store Email 1 *</label>
                <div *ngIf="phForm.get('storeEmail1')?.touched && phForm.get('storeEmail1')?.errors?.['required']">Email is required.</div>
                <div *ngIf="phForm.get('storeEmail1')?.touched && phForm.get('storeEmail1')?.errors?.['email']">Please enter a valid email address.</div>
                
            </div>

            <div class="input-group mb-4 float">
                <input type="email" placeholder=" " formControlName="storeEmail2" class="form-control" required>
                <label class="float-lbl">Store Email 2 *</label>
                <div *ngIf="phForm.get('storeEmail2')?.touched && phForm.get('storeEmail2')?.errors?.['required']">Email is required.</div>
                <div *ngIf="phForm.get('storeEmail2')?.touched && phForm.get('storeEmail2')?.errors?.['email']">Please enter a valid email address.</div>
            </div>
        </div>
      </fieldset>
  
      <!-- Section 2: Pharmacy Address -->
      <fieldset>
        <legend>Pharmacy Address</legend>
        <div class="form-grid">
            <div class="input-group mb-4 float">
                <textarea rows="2" placeholder=" " formControlName="address1" class="form-control" style="width: 90%;" required></textarea>
                <label class="float-lbl">Address 1 *</label>
                <div *ngIf="phForm.get('address1')?.touched && phForm.get('address1')?.errors?.['required']">Address is required.</div>
            </div>

            <div class="input-group mb-4 float">
                <textarea rows="2" placeholder=" " formControlName="address2" class="form-control" style="width: 90%;" required></textarea>
                <label class="float-lbl">Address 2 *</label>
                <div *ngIf="phForm.get('address2')?.touched && phForm.get('address2')?.errors?.['required']">Address is required.</div>
            </div>
        </div>
        <div class="form-grid mt-3" style="margin-top: 2rem !important;">
            <div class="input-group mb-4 float">
                <select formControlName="countryId" class="form-control" required>
                  <option value="" disabled selected>Select Country</option>
                  <option value="1">India</option>
                  <option value="2">USA</option>
                  <option value="3">UK</option>
                </select>
                <label class="float-lbl">Country *</label>
                <div *ngIf="phForm.get('countryId')?.touched && phForm.get('countryId')?.errors?.['required']">Country is required.</div>
              </div>

              <div class="input-group mb-4 float">
                <select formControlName="stateId" class="form-control" required>
                  <option value="" disabled selected>Select State</option>
              <option value="1">Maharashtra</option>
              <option value="2">Karnataka</option>
              <option value="3">Tamil Nadu</option>
                </select>
                <label class="float-lbl">State *</label>
                <div *ngIf="phForm.get('stateId')?.touched && phForm.get('stateId')?.errors?.['required']">State is required.</div>
              </div>

              <div class="input-group mb-4 float">
                <select formControlName="cityId" class="form-control" required>
                  <option value="" disabled selected>Select City</option>
                  <option value="1">Mumbai</option>
                  <option value="2">Delhi</option>
                  <option value="3">Bangalore</option>
                </select>
                <label class="float-lbl">City *</label>
                <div *ngIf="phForm.get('cityId')?.touched && phForm.get('cityId')?.errors?.['required']">City is required.</div>
              </div>
        </div>
      </fieldset>


      <!-- Section 3: Pharmacy Person -->
      <fieldset>
        <legend>Pharmacy Person</legend>
        <div class="form-grid">
        <div class="input-group mb-4 float">
            <input type="text" placeholder="" formControlName="firstName" class="form-control" required>
            <label class="float-lbl">First Name *</label>
            <div *ngIf="phForm.get('firstName')?.touched && phForm.get('firstName')?.errors?.['required']">FirstName is required.</div>
        </div>
        <div class="input-group mb-4 float">
            <input type="text" placeholder="" formControlName="lastName" class="form-control" required>
            <label class="float-lbl">Last Name *</label>
            <div *ngIf="phForm.get('lastName')?.touched && phForm.get('lastName')?.errors?.['required']">LastName is required.</div>
        </div>
        <div class="input-group mb-4 float">
            <input type="email" placeholder="" formControlName="personEmail" class="form-control" required>
            <label class="float-lbl">Email *</label>
            <div *ngIf="phForm.get('personEmail')?.touched && phForm.get('personEmail')?.errors?.['required']">Email is required.</div>
                <div *ngIf="phForm.get('personEmail')?.touched && phForm.get('personEmail')?.errors?.['email']">Please enter a valid email address.</div>
        </div>
        <div class="input-group mb-4 float">
            <input type="text" placeholder="" formControlName="personMobile" class="form-control" required maxlength="10" (keypress)="allowOnlyNumbers($event)">
            <label class="float-lbl">Mobile *</label>
            <div *ngIf="phForm.get('personMobile')?.touched && phForm.get('personMobile')?.errors?.['required']">Mobile is required.</div>
            <div *ngIf="phForm.get('personMobile')?.errors?.['pattern'] && phForm.get('personMobile')?.touched">
              Only digits allowed.
            </div>
        </div>
        <div class="input-group mb-4 float">
          <input type="date" formControlName="dateofBirth" class="form-control" required [max]="maxDate">
          <label class="float-lbl">Date Of Birth *</label>
          <div *ngIf="phForm.get('dateofBirth')?.touched && phForm.get('dateofBirth')?.errors?.['required']">Date of Birth is required</div>
          <div *ngIf="phForm.get('dateofBirth')?.errors?.['futureDate'] && (phForm.get('dateofBirth')?.touched || phForm.get('dateofBirth')?.dirty)">Date of Birth cannot be in the future</div>
        </div>
        
        <div class="input-group mb-4 float">
            <select formControlName="gender" class="form-control" required>
              <option value="" disabled selected>Select Gender</option>
              <option value="Male">Male</option>
              <option value="Female">Female</option>
              <option value="Other">Other</option>
            </select>
            <label class="float-lbl">Gender *</label>
            <div *ngIf="phForm.get('gender')?.touched && phForm.get('gender')?.errors?.['required']">Gender is required.</div>
          </div>
          <div class="input-group mb-4">
            <label class="form-label">Upload Picture *</label>
            <input type="file" formControlName="picture" class="form-control" accept="image/*" required>
            <div *ngIf="phForm.get('picture')?.touched && phForm.get('picture')?.errors?.['required']" class="text-danger">Picture is required.</div>
          </div>
    </div>
      </fieldset>
  
      <!-- Section 4: Bank Details -->
      <fieldset>
        <legend>Bank Details</legend>
        <div class="form-grid">
            <div class="input-group mb-4 float">
                <input type="text" placeholder=" " formControlName="bankName" class="form-control" required>
                <label class="float-lbl">Bank Name *</label>
                <div *ngIf="phForm.get('bankName')?.touched && phForm.get('bankName')?.errors?.['required']">Bank Name is required.</div>
              </div>

              <div class="input-group mb-4 float">
                <input type="text" placeholder=" " formControlName="accountholderName" class="form-control" required>
                <label class="float-lbl">Account Holder Name *</label>
                <div *ngIf="phForm.get('accountholderName')?.touched && phForm.get('accountholderName')?.errors?.['required']">AccountHolderName is required.</div>
              </div>

              <div class="input-group mb-4 float">
                <input type="text" placeholder=" " formControlName="accountNumber" class="form-control" required required (keypress)="allowOnlyNumbers($event)">
                <label class="float-lbl">Account Number *</label>
                <div *ngIf="phForm.get('accountNumber')?.touched && phForm.get('accountNumber')?.errors?.['required']">AccountNumber is required.</div>
              </div>

              <div class="input-group mb-4 float">
                <input type="text" placeholder=" " formControlName="ifscCode" class="form-control" required>
                <label class="float-lbl">IFSC Code *</label>
                <div *ngIf="phForm.get('ifscCode')?.touched && phForm.get('ifscCode')?.errors?.['required']">IFSCCode is required.</div>
              </div>

              <div class="input-group mb-4 float">
                <input type="text" placeholder=" " formControlName="branchName" class="form-control" required>
                <label class="float-lbl">Branch Name *</label>
                <div *ngIf="phForm.get('branchName')?.touched && phForm.get('branchName')?.errors?.['required']">BranchName is required.</div>
              </div>

              <div class="input-group mb-4 float">
                <input type="text" placeholder=" " formControlName="upiId" class="form-control" required>
                <label class="float-lbl">UPI ID *</label>
                <div *ngIf="phForm.get('upiId')?.touched && phForm.get('upiId')?.errors?.['required']">UPI_ID is required.</div>
                <div *ngIf="phForm.get('upiId')?.errors?.['pattern'] && phForm.get('upiId')?.touched">
                  Please enter a valid UPI ID.
                </div>
              </div>
        </div>
      </fieldset>
  
      <!-- Submit Button -->
      <div class="form-actions">
        <button type="submit">Add Pharmacy</button>
      </div>
    </form>
  </div>
</div>