<div class="authentication">
  <div class="pharmacy-form-container">
    <form formvalidator class="card auth_form form_validation" *ngIf="phForm" [formGroup]="phForm" #phForm_html="ngForm" (ngSubmit)="onSubmit()">
      <!-- Section 1: Pharmacy -->
      <fieldset formGroupName="pharmacy">
        <legend>Pharmacy Details</legend>
        <div class="form-grid">
          <div class="input-group mb-4 float">
            <input type="text" placeholder="" formControlName="ownerName" class="form-control" required>
            <label class="float-lbl">Owner Name *</label>
            <div *ngIf="phForm.get('pharmacy.ownerName')?.touched && phForm.get('pharmacy.ownerName')?.errors?.['required']">OwnerName is
              required.</div>
          </div>

          <div class="input-group mb-4 float">
            <input type="text" placeholder="" formControlName="storeName" class="form-control" required>
            <label class="float-lbl">Store Name *</label>
            <div *ngIf="phForm.get('pharmacy.storeName')?.touched && phForm.get('pharmacy.storeName')?.errors?.['required']">StoreName is required.</div>
          </div>

          <div class="input-group mb-4 float">
            <input type="text" placeholder=" " formControlName="businessName" class="form-control" required>
            <label class="float-lbl">Business Name *</label>
            <div *ngIf="phForm.get('pharmacy.businessName')?.touched && phForm.get('pharmacy.businessName')?.errors?.['required']">
              BusinessName is required.</div>
          </div>

          <div class="input-group mb-4 float">
            <input type="text" placeholder=" " formControlName="licenseNumber" class="form-control" required>
            <label class="float-lbl">License Number *</label>
            <div *ngIf="phForm.get('pharmacy.licenseNumber')?.touched && phForm.get('pharmacy.licenseNumber')?.errors?.['required']">
              LicenseNumber is required.</div>
          </div>

          <div class="input-group mb-4 float">
            <input type="date" placeholder=" " formControlName="licenseExpiry" class="form-control" required
              [min]="minExpiryDate">
            <label class="float-lbl">License Expiry *</label>
            <div *ngIf="phForm.get('pharmacy.licenseExpiry')?.touched && phForm.get('pharmacy.licenseExpiry')?.errors?.['required']">
              LicenseExpiry date is required.</div>
            <div
              *ngIf="phForm.get('pharmacy.licenseExpiry')?.errors?.['pastDate'] && (phForm.get('pharmacy.licenseExpiry')?.touched || phForm.get('pharmacy.licenseExpiry')?.dirty)">
              Expiry date cannot be in the past.
            </div>

          </div>

          <div class="input-group mb-4 float">
            <input type="text" placeholder=" " formControlName="gstNumber" class="form-control" required>
            <label class="float-lbl">GST Number *</label>
            <div *ngIf="phForm.get('pharmacy.gstNumber')?.touched && phForm.get('pharmacy.gstNumber')?.errors?.['required']">GSTNumber is
              required.</div>
            <div *ngIf="phForm.get('pharmacy.gstNumber')?.touched && phForm.get('pharmacy.gstNumber')?.errors?.['pattern']">
              Enter a valid GST Number (15 characters).
            </div>
          </div>

          <div class="input-group mb-4 float">
            <input type="text" placeholder=" " formControlName="registeredMobile" class="form-control" required
              maxlength="10" (keypress)="allowOnlyNumbers($event)">
            <label class="float-lbl">Registered Mobile *</label>
            <div
              *ngIf="phForm.get('pharmacy.registeredMobile')?.touched && phForm.get('pharmacy.registeredMobile')?.errors?.['required']">
              RegisteredMobile is required.</div>
            <div *ngIf="phForm.get('pharmacy.registeredMobile')?.errors?.['pattern'] && phForm.get('pharmacy.registeredMobile')?.touched">
              Only digits allowed.
            </div>
          </div>

          <div class="input-group mb-4 float">
            <input type="email" placeholder=" " formControlName="officialEmail" class="form-control" required>
            <label class="float-lbl">Official Email *</label>
            <div *ngIf="phForm.get('pharmacy.officialEmail')?.touched && phForm.get('pharmacy.officialEmail')?.errors?.['required']">
              Official Email is required.
            </div>
            <div *ngIf="phForm.get('pharmacy.officialEmail')?.touched && phForm.get('pharmacy.officialEmail')?.errors?.['email']">
              Please enter a valid email address.
            </div>
          </div>

        </div>
      </fieldset>

      <!-- Section 2: Pharmacy Person -->
      <fieldset formGroupName="user">
        <legend>Pharmacy Person</legend>
        <div class="form-grid">
          <div class="input-group mb-4 float">
            <input type="text" placeholder="" formControlName="firstName" class="form-control" required>
            <label class="float-lbl">First Name *</label>
            <div *ngIf="phForm.get('user.firstName')?.touched && phForm.get('user.firstName')?.errors?.['required']">FirstName is
              required.</div>
          </div>
          <div class="input-group mb-4 float">
            <input type="text" placeholder="" formControlName="lastName" class="form-control" required>
            <label class="float-lbl">Last Name *</label>
            <div *ngIf="phForm.get('user.lastName')?.touched && phForm.get('user.lastName')?.errors?.['required']">LastName is
              required.</div>
          </div>
          <div class="input-group mb-4 float">
            <input type="email" placeholder="" formControlName="email" class="form-control" required>
            <label class="float-lbl">Email *</label>
            <div *ngIf="phForm.get('user.email')?.touched && phForm.get('user.email')?.errors?.['required']">Email is required.
            </div>
            <div *ngIf="phForm.get('user.email')?.touched && phForm.get('user.email')?.errors?.['email']">Please enter a valid
              email address.</div>
          </div>
          <div class="input-group mb-4 float">
            <input type="text" placeholder="" formControlName="mobile" class="form-control" required maxlength="10"
              (keypress)="allowOnlyNumbers($event)">
            <label class="float-lbl">Mobile *</label>
            <div *ngIf="phForm.get('user.mobile')?.touched && phForm.get('user.mobile')?.errors?.['required']">Mobile is required.
            </div>
            <div *ngIf="phForm.get('user.mobile')?.errors?.['pattern'] && phForm.get('user.mobile')?.touched">
              Only digits allowed.
            </div>
          </div>
          <div class="input-group mb-4 float">
            <input type="date" formControlName="dateofBirth" class="form-control" required [max]="maxDate">
            <label class="float-lbl">Date Of Birth *</label>
            <div *ngIf="phForm.get('user.dateofBirth')?.touched && phForm.get('user.dateofBirth')?.errors?.['required']">Date of
              Birth is required</div>
            <div
              *ngIf="phForm.get('user.dateofBirth')?.errors?.['futureDate'] && (phForm.get('user.dateofBirth')?.touched || phForm.get('user.dateofBirth')?.dirty)">
              Date of Birth cannot be in the future</div>
          </div>

          <div class="input-group mb-4 float">
            <select formControlName="gender" class="form-control" required>
              <option value="" disabled selected>Select Gender</option>
              <option value="Male">Male</option>
              <option value="Female">Female</option>
              <option value="Other">Other</option>
            </select>
            <label class="float-lbl">Gender *</label>
            <div *ngIf="phForm.get('user.gender')?.touched && phForm.get('user.gender')?.errors?.['required']">Gender is required.</div>
          </div>
          <div class="input-group mb-4">
            <label class="form-label">Upload Picture *</label>
            <input type="file" formControlName="picture" class="form-control" accept="image/*">
          </div>
          <div class="input-group mb-4 float">
            <input type="text" placeholder="" formControlName="Password" class="form-control" required>
            <label class="float-lbl">Password *</label>
            <div *ngIf="phForm.get('user.Password')?.touched && phForm.get('user.Password')?.errors?.['required']">Password is required.</div>
          </div>
          <div class="input-group mb-4 float">
            <input type="text" placeholder="" formControlName="ConfirmPassword" class="form-control" required>
            <label class="float-lbl">ConfirmPassword *</label>
            <div *ngIf="phForm.get('user.ConfirmPassword')?.touched && phForm.get('user.ConfirmPassword')?.errors?.['required']">confirmPassword is required.</div>
          </div>
        </div>
      </fieldset>

      <!-- Section 4: Bank Details -->
      <fieldset formGroupName="pharmacyBankDetails">
        <legend>Bank Details</legend>
        <div class="form-grid">
          <div class="input-group mb-4 float">
            <input type="text" placeholder=" " formControlName="bankName" class="form-control" required>
            <label class="float-lbl">Bank Name *</label>
            <div *ngIf="phForm.get('pharmacyBankDetails.bankName')?.touched && phForm.get('pharmacyBankDetails.bankName')?.errors?.['required']">Bank Name is
              required.</div>
          </div>

          <div class="input-group mb-4 float">
            <input type="text" placeholder=" " formControlName="accountholderName" class="form-control" required>
            <label class="float-lbl">Account Holder Name *</label>
            <div
              *ngIf="phForm.get('pharmacyBankDetails.accountholderName')?.touched && phForm.get('pharmacyBankDetails.accountholderName')?.errors?.['required']">
              AccountHolderName is required.</div>
            <div
              *ngIf="phForm.get('pharmacyBankDetails.accountholderName')?.errors?.['pattern'] && phForm.get('pharmacyBankDetails.accountholderName')?.touched">
              Only digits allowed.
            </div>
          </div>

          <div class="input-group mb-4 float">
            <input type="text" placeholder=" " formControlName="accountNumber" class="form-control" maxlength="16"
              required required (keypress)="allowOnlyNumbers($event)">
            <label class="float-lbl">Account Number *</label>
            <div *ngIf="phForm.get('pharmacyBankDetails.accountNumber')?.touched && phForm.get('pharmacyBankDetails.accountNumber')?.errors?.['required']">
              AccountNumber is required.</div>
          </div>

          <div class="input-group mb-4 float">
            <input type="text" placeholder=" " formControlName="ifscCode" class="form-control" required>
            <label class="float-lbl">IFSC Code *</label>
            <div *ngIf="phForm.get('pharmacyBankDetails.ifscCode')?.touched && phForm.get('pharmacyBankDetails.ifscCode')?.errors?.['required']">IFSCCode is
              required.</div>
          </div>

          <div class="input-group mb-4 float">
            <input type="text" placeholder=" " formControlName="branchName" class="form-control" required>
            <label class="float-lbl">Branch Name *</label>
            <div *ngIf="phForm.get('pharmacyBankDetails.branchName')?.touched && phForm.get('pharmacyBankDetails.branchName')?.errors?.['required']">BranchName
              is required.</div>
          </div>

          <div class="input-group mb-4 float">
            <input type="text" placeholder=" " formControlName="upiId" class="form-control" required>
            <label class="float-lbl">UPI ID *</label>
            <div *ngIf="phForm.get('pharmacyBankDetails.upiId')?.touched && phForm.get('pharmacyBankDetails.upiId')?.errors?.['required']">UPI_ID is required.
            </div>
            <div *ngIf="phForm.get('pharmacyBankDetails.upiId')?.errors?.['pattern'] && phForm.get('pharmacyBankDetails.upiId')?.touched">
              Please enter a valid UPI ID.
            </div>
          </div>
        </div>
      </fieldset>

      <!-- Submit Button -->
      <div class="form-actions">
        <button type="submit" >Add Pharmacy</button>
      </div>
    </form>
  </div>
</div>