<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <aspNetCore processPath="%LAUNCHER_PATH%" stdoutLogEnabled="false" hostingModel="InProcess">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
          <environmentVariable name="ASPNETCORE_HTTPS_PORT" value="44379" />
          <environmentVariable name="COMPLUS_ForceENC" value="1" />
          <environmentVariable name="ASPNETCORE_HOSTINGSTARTUPASSEMBLIES" value="Microsoft.AspNetCore.Watch.BrowserRefresh;Microsoft.WebTools.BrowserLink.Net" />
          <environmentVariable name="DOTNET_STARTUP_HOOKS" value="c:\program files\microsoft visual studio\2022\community\common7\ide\extensions\microsoft\web tools\projectsystem\Microsoft.AspNetCore.Watch.BrowserRefresh.dll;C:\Program Files\Microsoft Visual Studio\2022\Community\Common7\IDE\Extensions\Microsoft\Web Tools\Browser Link\Microsoft.WebTools.BrowserLink.Net.dll" />
          <environmentVariable name="ASPNETCORE_AUTO_RELOAD_WS_ENDPOINT" value="wss://localhost:44360/RepMed.Web/,ws://localhost:54814/RepMed.Web/" />
          <environmentVariable name="DOTNET_MODIFIABLE_ASSEMBLIES" value="debug" />
          <environmentVariable name="ASPNETCORE_AUTO_RELOAD_WS_KEY" value="MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA0yI2Pd26IBqDWjHJ+ZLsVB6YXKZptzr4b7w7a9rx/+0KcYWUF0ZLa39aEAVUzglyZ2ZPLoBOr7woVAeHjL6OiaZTwcOq2pNO8GFctt6r1TLOyutOrW/4EsZHmTtn8rG3JgRFDmbxUIqPA6vSkQbtvLVEJu/JfmZfjIhEyoApLOlQoq3XFIn9bi0y6+QfIOp9hpr5Q5r4UzGImZOwnA0Bo/xTltOLF9k/+qCJmpAItwBDi+Vd1dwUlJY9gdblZUuLQjOPVPb65dxYWMph40xfwBhw4Pg5FvD8Wyskzb5m+BYDR8CQg+BTsqC9w5UGLDr2hcBtIwChBypLoi4wG7L5tQIDAQAB" />
          <environmentVariable name="ASPNETCORE_AUTO_RELOAD_VDIR" value="/" />
        </environmentVariables>
      </aspNetCore>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
    </system.webServer>
  </location>
</configuration>