<div class="authentication">
    <form class="auth_form form_validation" *ngIf="addSupplierForm" appAutoValidate [formGroup]="addSupplierForm"
        #phForm_html="ngForm" (ngSubmit)="onSubmit()">
        <fieldset>
            <legend>Add Supplier</legend>
            <div class="form-grid">
                <div class="input-group mb-3 float">
                    <input formControlName="Name" class="form-control" placeholder="Supplier Name" minlength="3"
                        maxlength="50" required />
                    <label class="float-lbl">Name *</label>
                </div>
                <div class="input-group mb-3 float">
                    <input formControlName="Mobile" class="form-control" placeholder="1234567890"
                        (keypress)="allowOnlyNumbers($event)" (paste)="disablePaste($event)" maxlength="10" required />
                    <label class="float-lbl">Contact *</label>
                </div>
            </div>
            <div class="form-grid">
                <div class="input-group mb-3 float">
                    <input formControlName="Email" class="form-control" placeholder="example@mail.com" maxlength="30"
                        required />
                    <label class="float-lbl">Email *</label>
                </div>
                <div class="input-group mb-3 float">
                    <input formControlName="Gstnumber" class="form-control" placeholder="09AAACH7409R1ZZ" maxlength="15"
                        required />
                    <label class="float-lbl">GST</label>
                </div>
            </div>
            <div class="form-grid">
                <div class="input-group mb-3 float">
                    <textarea formControlName="Address" class="form-control" placeholder="" maxlength="200"></textarea>
                    <label class="float-lbl">Address</label>
                </div>
            </div>
        </fieldset>
        <div class="row justify-content-end">
            <div class="col-sm-1">
                <button class="btn custom-btn" type="submit">Add</button>
            </div>
        </div>
    </form>
</div>


<div class="authentication">
    <form class="auth_form form_validation" *ngIf="editsupplierForm" appAutoValidate [formGroup]="editsupplierForm"
        #phForm_html="ngForm" (ngSubmit)="onSubmit()">
        <fieldset>
            <legend>Edit Supplier</legend>
            <div class="form-grid">
                <div class="input-group mb-3 float">
                    <input formControlName="Name" class="form-control" placeholder="Supplier Name" minlength="3"
                        maxlength="50" required />
                    <label class="float-lbl">Name *</label>
                </div>
                <div class="input-group mb-3 float">
                    <input formControlName="Mobile" class="form-control" placeholder="1234567890"
                        (keypress)="allowOnlyNumbers($event)" (paste)="disablePaste($event)" maxlength="10" required />
                    <label class="float-lbl">Contact *</label>
                </div>
            </div>
            <div class="form-grid">
                <div class="input-group mb-3 float">
                    <input formControlName="Email" class="form-control" placeholder="example@mail.com" maxlength="30"
                        required />
                    <label class="float-lbl">Email *</label>
                </div>
                <div class="input-group mb-3 float">
                    <input formControlName="Gstnumber" class="form-control" placeholder="09AAACH7409R1ZZ" maxlength="15"
                        required />
                    <label class="float-lbl">GST</label>
                </div>
            </div>
            <div class="form-grid">
                <div class="input-group mb-3 float">
                    <textarea formControlName="Address" class="form-control" placeholder="" maxlength="200"></textarea>
                    <label class="float-lbl">Address</label>
                </div>
            </div>
        </fieldset>
        <div class="row justify-content-end">
            <div class="col-sm-1">
                <button class="btn custom-btn" type="submit">Update</button>
            </div>
        </div>
    </form>
</div>