<div class="authentication">

    <form class="auth_form form_validation" *ngIf="poForm" appAutoValidate [formGroup]="poForm" (ngSubmit)="onSubmit()">
        <fieldset formGroupName="purchaseOrder">
            <h5>Add Item</h5>
            <div class="form-grid">
                <div class="position-relative" #productBox>
                    <input type="text" class="form-control" placeholder="Search product" formControlName="productSearch"
                        (input)="onSearchChange(poForm.get('purchaseOrder.productSearch')?.value)" />

                    <!-- Dropdown with filtered products -->
                    <ul *ngIf="filteredProducts.length" class="dropdown-menu show" [ngClass]="{'show': showDropdown}">
                        <li class="dropdown-item header-row"
                            style="font-weight: bold; background-color: #f8f9fa; cursor: default;">
                            <span class="product-name">Item Name</span>
                            <span class="product-price">Price</span>
                        </li>
                        <li *ngFor="let product of filteredProducts" class="dropdown-item"
                            (click)="selectProduct(product)">

                            <span class="product-name">{{ product.name }}</span>
                            <span class="product-price">₹{{ product.price }}</span>

                        </li>
                    </ul>
                </div>
            </div>
        </fieldset>
    </form>

    <!-- This is my edit form -->
    <form class="auth_form form_validation" *ngIf="ItemEditForm && showEditForm" appAutoValidate
        [formGroup]="ItemEditForm" (ngSubmit)="onUpdate()">
        <div class="border rounded p-3 container-fluid mb-2 ">
            <div class="d-flex align-items-center flex-wrap gap-4 fw-semibold text-muted">
                <span style="width: 60px;">Date</span>
                <span style="width: 110px;">Item</span>
                <span style="width: 150px;">Distributor</span>
                <span style="width: 70px;">Manuf.</span>
                <span style="width: 80px;">Priority</span>
                <span style="width: 30px;">Min</span>
                <span style="width: 30px;">Stock</span>
                <span style="width: 50px;">Qty.</span>
                <span style="width: 50px;">Status</span>
                <span style="width: 60px;">Source</span>
                <span style="width: 60px;">Action</span>
            </div>
            <hr />
            <div class="d-flex align-items-center flex-wrap gap-4">
                <span style="width: 60px; font-size: 14px;">{{ ItemEditForm.value.date | date: 'dd-MM HH:mm' }}</span>
                <span style="width: 110px;font-size: 14px;">{{ ItemEditForm.value.itemName | slice:0:30 }}</span>
                <div class="position-relative" style="width: 18%; margin-left:-20px " #supplierBox>
                    <input type="text" class="form-control" placeholder="Search Supplier..."
                        [value]="selectedSupplier?.name || ''" (input)="onSupplierSearch($event.target.value)"
                        style="width: 100%; height: 2%; font-size: 14px;" required formControlName="supplierId" />

                    <ul *ngIf="showSupplierDropdown" class="dropdown-menu show"
                        style="width: 280px; position: absolute; z-index: 1000; top: 100%; left: 0; font-size: 14px;">

                        <li *ngFor="let supplier of suppliers" class="dropdown-item" (click)="selectSupplier(supplier)"
                            style="cursor: pointer;">
                            {{ supplier.name }}
                        </li>
                    </ul>
                </div>

                <span style="width: 60px;">XYZ</span>
                <select formControlName="Priority" id="Priority" class="form-select custom-priority-select">
                    <option value="Low">Low</option>
                    <option value="High">High</option>
                </select>
                <span style="width: 30px;">No</span>
                <span style="width: 30px;">No</span>
                <input type="number" class="form-control form-control-sm" style="width: 50px;"
                    formControlName="quantity" min="1" max="1000" (keydown)="preventInvalidKeys($event)"
                    (paste)="preventPaste($event)" />
                <span style="width: 50px;">Pending</span>
                <span style="width: 60px;">Shortbook</span>
                <button class="btn custom-btn" style="width: 80px;" type="submit">Update</button>
            </div>
        </div>
    </form>

    <!-- This is my ItemList Code -->
    <div class="flex-grow-1 container-fluid">
        <div class="card">
            <!--<div class="card-header d-flex justify-content-between align-items-center">
                <span class="h5 mb-0">Shortbook</span>
            </div>-->
            <div class="card-body">
                <app-datatable #dataTable (rowClicked)="onRowClick($event)" [options]="tableOptions"
                    [selectedItemIds]="selectedItemIds"
                    (selectedItemIdsChange)="selectedItemIds = $event"></app-datatable>
            </div>
        </div>
    </div>


    <div class="row justify-content-end mt-4">
        <div class="col-sm-2">
            <button class="btn custom-btn" (click)="onGeneratePo()" id="generatePoBtn"
                style="width: 130px; display:none;" type="submit">Po Generate</button>

            <!-- <button  class="btn btn-primary" style="display:none;" (click)="onGeneratePo()">
                Generate PO
            </button> -->
        </div>
    </div>

</div>