<div class="form-grid">
    <div class="tabs">
        <button [class.active]="activeTab === 'orderwise'" (click)="changeTab('orderwise')">Orderwise</button>
        <button [class.active]="activeTab === 'itemwise'" (click)="changeTab('itemwise')">Itemwise</button>
        <button [class.active]="activeTab === 'distributorwise'"
            (click)="changeTab('distributorwise')">Distributorwise</button>
    </div>
    <div>&nbsp;</div>


    <!-- <div class="search-wrapper" *ngIf="activeTab === 'orderwise'">
        <input id="orderwiseSearchBox" placeholder="Search Orders..." />
    </div>
    <div class="search-wrapper" *ngIf="activeTab === 'itemwise'">
        <input id="itemwiseSearchBox" placeholder="Search Items..." />
    </div>
    <div class="search-wrapper" *ngIf="activeTab === 'distributorwise'">
        <input id="distributorwiseSearchBox" placeholder="Search Distributors..." />
    </div> -->
    <div class="flex-grow-1 container-p-y">
        <div class="card">
            <div [ngSwitch]="activeTab" class="card-body">
                <app-datatable *ngSwitchCase="'orderwise'" [options]="orderwiseOptions"
                    [(selectedItemIds)]="selectedItemIds"></app-datatable>

                <app-datatable *ngSwitchCase="'itemwise'" [options]="itemwiseOptions"
                    [(selectedItemIds)]="selectedItemIds"></app-datatable>

                <app-datatable *ngSwitchCase="'distributorwise'" [options]="distributorwiseOptions"
                    [(selectedItemIds)]="selectedItemIds"></app-datatable>
            </div>
        </div>
    </div>
</div>