<div class="authentication">

    <form class="auth_form form_validation" *ngIf="poForm" appAutoValidate [formGroup]="poForm" (ngSubmit)="onSubmit()">
        <fieldset formGroupName="purchaseOrder">
            <legend>Shortbook </legend>
            <div class="form-grid">
                <!-- Search Input -->
                <div class="position-relative">
                    <!-- <input type="text" class="form-control" placeholder="Search product" [(ngModel)]="productSearch"
                        (input)="onSearchChange($event.target.value)" /> -->
                    <input type="text" class="form-control" placeholder="Search product" formControlName="productSearch"
                        (input)="onSearchChange(poForm.get('purchaseOrder.productSearch')?.value)" />

                    <!-- Dropdown with filtered products -->
                    <ul *ngIf="filteredProducts.length" class="dropdown-menu show" [ngClass]="{'show': showDropdown}">
                        <li class="dropdown-item header-row"
                            style="font-weight: bold; background-color: #f8f9fa; cursor: default;">
                            <span class="product-name">Item Name</span>
                            <span class="product-price">Price</span>
                        </li>
                        <li *ngFor="let product of filteredProducts" class="dropdown-item"
                            (click)="selectProduct(product)">

                            <span class="product-name">{{ product.name }}</span>
                            <span class="product-price">₹{{ product.price }}</span>

                        </li>
                    </ul>
                </div>
            </div>
            <div class="flex-grow-1 container-p-y">
                <div class="card">
                    <div class="card-body">
                        <app-datatable #dataTable [options]="tableOptions"></app-datatable>
                    </div>
                </div>
            </div>
        </fieldset>
        <!-- Submit Button -->
        <div class="row justify-content-end mt-4">
            <div class="col-sm-2">
                <button class="btn custom-btn" style="width: 130px;" type="submit">Po Generate</button>
            </div>
        </div>
    </form>
</div>