<div class="authentication">
    <form class="auth_form form_validation" appAutoValidate [formGroup]="PurchaseInvoice" #phForm_html="ngForm"
        (ngSubmit)="onSubmit()">
        <fieldset>
            <legend>Invoice deatils fill</legend>
            <hr />
            <div class="row">
                <div class="col-md-4">
                    <div class="input-group mb-4" #supplierBox>
                        <input type="text" class="form-control" placeholder="Search Distributor here..."
                            [value]="selectedSupplier?.name || ''" (input)="onSupplierSearch($event.target.value)"
                            style="font-size: 14px;" required formControlName="supplierId" />
                        <label class="float-lbl"> Distributor *</label>
                        <ul *ngIf="showSupplierDropdown" class="dropdown-menu show"
                            style="width: 280px; position: absolute; z-index: 1000; top: 100%; left: 0; font-size: 14px;">

                            <li *ngFor="let supplier of suppliers" class="dropdown-item"
                                (click)="selectSupplier(supplier)" style="cursor: pointer;">
                                {{ supplier.name }}
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="input-group mb-1">
                        <input type="number" class="form-control" placeholder="" formControlName="BillNo" maxlength="30"
                            required>
                        <label class="float-lbl"> Bill No./Order No. *</label>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="input-group mb-1">
                        <input type="text" class="form-control" style="font-size: 14px;" placeholder="PO-000012"
                            formControlName="PONumber" maxlength="30" required>
                        <label class="float-lbl"> PO Number *</label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="input-group mb-1">
                        <input type="date" placeholder="25/05/2025" formControlName="Billdate" class="form-control">
                        <label class="float-lbl">Bill Date *</label>
                    </div>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-4">
                    <div class="input-group mb-4 position-relative" #productBox>
                        <input type="text" class="form-control" placeholder="Search product here..."
                            formControlName="ItemId" [value]="selectedItem?.name || ''"
                            (input)="onSearchChange($event.target.value)" />

                        <!-- Dropdown with filtered products -->
                        <ul *ngIf="filteredProducts.length && showDropdown" class="dropdown-menu"
                            style="display: block; position: absolute; top: 100%; left: 0; z-index: 1050; width: 100%; max-height: 200px; overflow-y: auto;">

                            <li class="dropdown-item header-row"
                                style="font-weight: bold; background-color: #f8f9fa; cursor: default;">
                                <span class="product-name">Item Name</span>
                                <span class="product-price float-end">Price</span>
                            </li>

                            <li *ngFor="let product of filteredProducts" class="dropdown-item"
                                (click)="selectProduct(product)" style="cursor: pointer;">
                                <span class="product-name">{{ product.name }}</span>
                                <span class="product-price float-end">₹{{ product.price }}</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="input-group mb-1">
                        <input type="text" class="form-control" style="font-size: 14px;" placeholder=""
                            formControlName="BatchNo" maxlength="30" required>
                        <label class="float-lbl">Batch *</label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="input-group mb-1">
                        <input type="date" placeholder="" formControlName="Expirydate" class="form-control">
                        <label class="float-lbl">Expiry Date *</label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="input-group mb-1">
                        <input type="number" class="form-control" placeholder="" formControlName="MRP" maxlength="30"
                         readonly>
                        <label class="float-lbl">MRP *</label>
                    </div>
                </div>
            </div>

        </fieldset>
        <div class="row justify-content-end">
            <div class="col-sm-1">
                <button class="btn custom-btn" type="submit">Save</button>
            </div>
        </div>
    </form>
</div>