<div class="authentication">
    <form class="auth_form form_validation" *ngIf="editRoleForm" appAutoValidate [formGroup]="editRoleForm"
        #roleForm_html="ngForm" (ngSubmit)="onSubmit()">

        <!-- Section 1: -->
        <fieldset>
            <legend>Edit Role</legend>
            <div class="form-grid">
                <div class="input-group mb-4 float">
                    <input type="text" class="form-control" placeholder=" " formControlName="roleName" maxlength="20"
                    [readonly]="isReadonlyRole">
                    <label class="float-lbl">Role *</label>
                </div>
                <div class="input-group mb-4 float">
                    <textarea placeholder=" " formControlName="description" class="form-control"
                        maxlength="100"></textarea>
                    <label class="float-lbl">Description</label>
                </div>
            </div>

            <div class="form-grid">
                <div class="form-group">
                    <label class="form-label fw-bold mb-2">Select Modules</label>
                    <div class="border rounded p-3 shadow-sm bg-light">
                        <div class="row">
                            <div class="col-md-6 mb-2" *ngFor="let comp of componentList; let i = index">
                                <div class="form-check d-flex align-items-center gap-3">
                                    <input class="form-check-input" type="checkbox" [value]="comp.id"
                                        (change)="onCheckboxChange($event)" id="comp-{{ comp.id }}"
                                        [checked]="editRoleForm.get('PermissionIds').value.includes(comp.id)">
                                    <label class="form-check-label mb-0" for="comp-{{ comp.id }}">
                                        {{ comp.module | titlecase}}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Error message for modules selection -->
                    <div *ngIf="editRoleForm.get('PermissionIds').hasError('checkboxRequired') && editRoleForm.get('PermissionIds').touched"
                        class="text-danger small mt-1">
                        Please select at least one module.
                    </div>
                </div>
            </div>
        </fieldset>

        <div class="row justify-content-end">
            <div class="col-sm-1">
                <button class="btn custom-btn btn-secondary" type="button" (click)="onCancel()">Cancel</button>
            </div>
            <div class="col-sm-1">
                <button class="btn custom-btn" type="submit">Update</button>
            </div>

        </div>
    </form>
</div>