<div class="container-xxl">
    <div class="authentication-wrapper authentication-basic container-p-y">
        <div class="card bg-prime hw">
            <div class="card-body">
                <div class="app-brand justify-content-center">
                    <a href="/admin" class="app-brand-link gap-2">
                        <span class="app-brand-logo demo">
                            <img src="/assets/img/repmedlogo.png" width="130" />
                        </span>
                    </a>
                </div>
                <form id="formAuthentication" appAutoValidate class="mb-3" [formGroup]="ForgetPassword"
                    (ngSubmit)="onSubmit()" #phForm_html="ngForm">
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="text" id="email" formControlName="email" class="form-control" name="email"
                            placeholder="Enter your email" aria-describedby="email" maxlength="50" required />
                    </div>
                    <div class="mb-3">
                        <button class="btn btn-primary d-grid w-100" type="submit">Send Reset Password Link</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<style>
    .hw {
        width: 40%;
    }
</style>