<div class="authentication">
    <form class="auth_form form_validation" *ngIf="editUserForm" appAutoValidate [formGroup]="editUserForm"
        #userForm_html="ngForm" (ngSubmit)="onSubmit()">
        <fieldset>
            <legend>Update User</legend>
            <div class="form-grid">
                <div class="input-group mb-4 float">
                    <input type="text" placeholder="" formControlName="firstname" class="form-control">
                    <label class="float-lbl">firstName *</label>
                </div>
                <div class="input-group mb-4 float">
                    <input type="text" placeholder="" formControlName="lastname" class="form-control">
                    <label class="float-lbl">lastName *</label>
                </div>
                <div class="input-group mb-4 float">
                    <input type="email" formControlName="email" class="form-control" placeholder="example@mail.com">
                    <label class="float-lbl">Email *</label>


                </div>
                <div class="input-group mb-4 float">
                    <input type="text" formControlName="mobile" class="form-control" placeholder="1234567890"
                        maxlength="10" (keypress)="allowOnlyNumbers($event)">
                    <label class="float-lbl">Mobile *</label>
                </div>
            </div>
        </fieldset>
        <div class="row justify-content-end">
            <div class="col-sm-1">
                <button class="btn custom-btn" type="submit">Update</button>
            </div>
        </div>
    </form>
</div>