<div class="container-xxl">
    <div class="authentication-wrapper authentication-basic container-p-y">
        <div class="authentication-inner w-500">
            <div class="card bg-prime hw">
                <div class="app-brand justify-content-center">
                    <a href="/login" class="app-brand-link gap-2">
                        <span class="app-brand-logo demo">
                            <img src="/assets/img/repmedlogo.png" width="130" />
                        </span>
                    </a>
                </div>

                <div class="card-body">
                    <form [formGroup]="ResetPasswordForm" appAutoValidate (ngSubmit)="onSubmit()" class="">
                        <div class="mb-3 form-password-toggle">
                            <div class="d-flex justify-content-between">
                                <label class="form-label">New Password *</label>
                            </div>
                            <div class="input-group input-group-merge">
                                <input type="password" id="Password" class="form-control" style="width: 50% !important;"
                                    name="Password" placeholder="Enter New Password" formControlName="Password"
                                    aria-describedby="password" maxlength="16" required />
                                <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                            </div>
                        </div>

                        <div class="mb-3 form-password-toggle">
                            <div class="d-flex justify-content-between">
                                <label class="form-label">Confirm Password *</label>
                            </div>
                            <div class="input-group input-group-merge">
                                <input type="password" id="ConfirmPassword" style="width: 50% !important;"
                                    class="form-control" placeholder="Enter Confirm Password"
                                    aria-describedby="ConfirmPassword" formControlName="ConfirmPassword" maxlength="16"
                                    required />
                                <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                            </div>
                        </div>
                        <div class="mb-3 mt3">
                            <button class="btn btn-primary d-grid w-100" type="submit">Reset</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .text-w {
        color: white !important;
        font-size: 20px !important;
    }

    .w-500 {
        max-width: 500px !important;
    }

    .mt3 {
        margin-top: 3.5rem !important;
    }
</style>