<div class="authentication">

    <form class="auth_form form_validation" *ngIf="addUserForm" appAutoValidate [formGroup]="addUserForm"
        #phForm_html="ngForm" (ngSubmit)="onSubmit()">
        <!-- Section 1: Pharmacy -->
        <fieldset>
            <legend>Staff</legend>
            <div class="form-grid">
                <div class="input-group mb-4 float">
                    <input type="text" class="form-control" placeholder=" " formControlName="firstname" maxlength="25" minlength="3">
                    <label class="float-lbl">First Name *</label>
                </div>
                <div class="input-group mb-4 float">
                    <input type="text" class="form-control" placeholder=" " formControlName="lastname" maxlength="25" minlength="3">
                    <label class="float-lbl">Last Name *</label>
                </div>
                <div class="input-group mb-4 float">
                    <input type="text" class="form-control" placeholder=" " formControlName="mobile" maxlength="30" placeholder="1234567890"
                    maxlength="10" (keypress)="allowOnlyNumbers($event)" (paste)="disablePaste($event)">
                    <label class="float-lbl">mobile *</label>
                </div>
                <div class="input-group mb-4 float">
                    <input type="text" class="form-control" placeholder=" " formControlName="email" maxlength="30">
                    <label class="float-lbl">Email *</label>
                </div>
                <div class="mb-3 form-password-toggle">
                    <div class="input-group input-group-merge">
                        <input type="password" id="Password" class="form-control" style="width: 50% !important;"
                            name="Password" formControlName="Password" placeholder="" aria-describedby="password"
                            maxlength="16" />
                        <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                        <label class="float-lbl">Password *</label>
                    </div>
                </div>
                <div class="mb-3 form-password-toggle">
                    <div class="input-group input-group-merge">
                        <input type="password" id="ConfirmPassword" class="form-control" style="width: 50% !important;"
                            name="ConfirmPassword" formControlName="ConfirmPassword" placeholder=""
                            aria-describedby="ConfirmPassword" maxlength="16" />
                        <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                        <label class="float-lbl">Confirm Password *</label>
                    </div>
                </div>
                <div class="input-group mb-4 float">
                    <select class="form-control" formControlName="Role">
                        <option value="" disabled selected>Select Role</option>
                        <option *ngFor="let role of roles" [value]="role.text">
                            {{ role.text }}
                        </option>
                    </select>
                    <label class="float-lbl">Role *</label>
                </div>
            </div>
        </fieldset>
        <div class="row justify-content-end">
            <div class="col-sm-1">
                <button class="btn custom-btn" type="submit">Save</button>
            </div>
        </div>
    </form>
</div>