<form [formGroup]="SetPasswordForm" (ngSubmit)="onSubmit()" class="">
    <legend>Set Password</legend>

    <div class="input-group mb-3 float">
        <input type="text" class="form-control" placeholder=" " formControlName="CurrentPassword">
        <label class="float-lbl">Old Password *</label>
        <div
            *ngIf="SetPasswordForm.get('CurrentPassword')?.errors?.['required'] && SetPasswordForm.get('CurrentPassword')?.touched">
           Old Password is required.
        </div>
    </div>

    <div class="input-group mb-3 float">
        <input type="text" class="form-control" placeholder=" " formControlName="Password">
        <label class="float-lbl">Password *</label>
        <div *ngIf="SetPasswordForm.get('Password')?.errors?.['required'] && SetPasswordForm.get('Password')?.touched">
            Password is required.
        </div>
    </div>

    <div class="input-group mb-3 float">
        <input type="password" class="form-control" placeholder=" " formControlName="ConfirmPassword">
        <label class="float-lbl">ConfirmPassword *</label>
      
        <div
          *ngIf="SetPasswordForm.get('ConfirmPassword')?.errors?.['required'] && SetPasswordForm.get('ConfirmPassword')?.touched">
          confirmpassword is required.
        </div>
      
        <div 
          *ngIf="SetPasswordForm.errors?.['passwordMismatch'] && SetPasswordForm.get('confirmpassword')?.touched" 
          class="text-danger">
          Password do not match.  
        </div>
      </div>
      

    <div class="form-actions">
        <button type="submit">Change Password</button>
    </div>
</form>