<form [formGroup]="SetPasswordForm" (ngSubmit)="onSubmit()" class="">
    <legend>Change Password</legend>

    <div class="input-group mb-3 float">
        <input type="text" class="form-control" placeholder=" " formControlName="oldpassword">
        <label class="float-lbl">Old Password *</label>
        <div
            *ngIf="SetPasswordForm.get('oldpassword')?.errors?.['required'] && SetPasswordForm.get('oldpassword')?.touched">
           Old Password is required.
        </div>
    </div>

    <div class="input-group mb-3 float">
        <input type="text" class="form-control" placeholder=" " formControlName="password">
        <label class="float-lbl">Password *</label>
        <div *ngIf="SetPasswordForm.get('password')?.errors?.['required'] && SetPasswordForm.get('password')?.touched">
            Password is required.
        </div>
    </div>

    <div class="input-group mb-3 float">
        <input type="password" class="form-control" placeholder=" " formControlName="confirmpassword">
        <label class="float-lbl">ConfirmPassword *</label>
      
        <div
          *ngIf="SetPasswordForm.get('confirmpassword')?.errors?.['required'] && SetPasswordForm.get('confirmpassword')?.touched">
          ConfirmPassword is required.
        </div>
      
        <div 
          *ngIf="SetPasswordForm.errors?.['passwordMismatch'] && SetPasswordForm.get('confirmpassword')?.touched" 
          class="text-danger">
          New Password and Confirm Password do not match.
        </div>
      </div>
      

    <div class="form-actions">
        <button type="submit">Update Password</button>
    </div>
</form>