<form [formGroup]="ChangePasswordForm" (ngSubmit)="onSubmit()" class="">
    <legend>Change Password</legend>

    <div class="input-group mb-3 float">
        <input type="text" class="form-control" placeholder=" " formControlName="Password">
        <label class="float-lbl">Password *</label>
        <div *ngIf="ChangePasswordForm.get('Password')?.errors?.['required'] && ChangePasswordForm.get('Password')?.touched">
            Password is required.
        </div>
    </div>

    <div class="input-group mb-3 float">
        <input type="password" class="form-control" placeholder=" " formControlName="ConfirmPassword">
        <label class="float-lbl">ConfirmPassword *</label>
      
        <div
          *ngIf="ChangePasswordForm.get('ConfirmPassword')?.errors?.['required'] && ChangePasswordForm.get('ConfirmPassword')?.touched">
          confirmpassword is required.
        </div>
      
        <div 
          *ngIf="ChangePasswordForm.errors?.['passwordMismatch'] && ChangePasswordForm.get('ConfirmPassword')?.touched" 
          class="text-danger">
          Password do not match.  
        </div>
      </div>
      

    <div class="form-actions">
        <button type="submit">Set Password</button>
    </div>
</form>