<div class="authentication">

        <form  class="auth_form form_validation" *ngIf="addUserForm" appAutoValidate [formGroup]="addUserForm" #phForm_html="ngForm" (ngSubmit)="onSubmit()">

      
<!-- Section 1: Pharmacy -->
<fieldset>
        <legend>User</legend>
        <div class="form-grid">
            <div class="input-group mb-4 float">
                <input type="text" class="form-control" placeholder=" " formControlName="email">
                <label class="float-lbl">Email *</label>
            </div>
            <div class="input-group mb-4 float">
                <input type="text" class="form-control" placeholder=" " formControlName="Password">
                <label class="float-lbl">Password *</label>
            </div>
            <div class="input-group mb-4 float">
                <input type="text" class="form-control" placeholder=" " formControlName="ConfirmPassword">
                        <label class="float-lbl">ConfirmPassword *</label>
            </div>

            <div class="input-group mb-4 float">
                <select class="form-control" formControlName="Role">
                        <option value="" disabled selected>Select Role</option>
                        <option *ngFor="let role of roles" [value]="role.text">
                            {{ role.text }}
                        </option>
                    </select>
                    <label class="float-lbl">Role *</label>
            </div>

            
           
        </div>


</fieldset>
<div class="row justify-content-end">
        <div class="col-sm-1">
            <button class="btn btn-primary" type="submit" >Save</button>
        </div>
      </div>
</form>
</div>  