<div class="container-xxl">
    <div class="authentication-wrapper authentication-basic container-p-y">
        <div class="authentication-inner w-500">
            <div class="card bg-prime">
                <div class="card-body">
                    <div class="app-brand justify-content-center">
                        <a href="/admin" class="app-brand-link gap-2">
                            <span class="app-brand-logo demo">
                                <img src="/assets/img/repmedlogo.png" width="130" />
                            </span>
                        </a>
                    </div>
                    <form id="formAuthentication" appAutoValidate class="mb-3" [formGroup]="ForgetPassword"
                        (ngSubmit)="onSubmit()" #phForm_html="ngForm">
                        <div class="mb-2r">
                            <label for="email" class="form-label">Email</label>
                            <input type="text" id="email" formControlName="email" class="form-control" name="email"
                                placeholder="Enter your email" aria-describedby="email" maxlength="50" required />
                        </div>
                        <div class="mb-3">
                            <button class="btn btn-primary d-grid w-100" type="submit">Send Reset Password Link</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .mb-2r{
        margin-bottom: 2rem !important;
    }

    .w-500 {
        max-width: 500px !important;
    }

    .text-w {
        color: white !important;
        font-size: 20px !important;
    }
</style>